.button {
	@extend .button;

	&.button-transparent {
	  @include button-style(rgba(0,0,0,0), $smartDarkBorder, $button-transparent-active-bg, $button-transparent-active-border, $button-transparent-text);
	  @include button-clear($smartDarkBorder);
	  @include button-outline($smartDarkBorder);

	  padding: 3px 12px;
	  //background-image: url('../img/button-transparent-bg.png');
  }
}

.button {
  @extend .button;
  &.button-custom {
    //@extend .button-transparent !optional;
    @include button-style($button-custom-bg, $button-custom-border, $button-custom-active-bg, $button-custom-active-border, $button-custom-text);
    @include button-clear($button-custom-border);
    @include button-outline($button-custom-border);
  }

  &.button-outline {
    box-shadow: none;
  }

  &.button-navigation {
    font-size: $button-custom-bar-button-font-size;
    height: $button-custom-bar-button-height;
    margin-left: 15px;
  }

  &.button-clear {

		&.button-cancel {
      color: #000;
      text-decoration: underline;
    }
  }
}

.navigation-footer .button-clear {
	color: $dark;
}

.button-large i.icon {
  margin-left: -32px;
}

.button.button-block,
.button-block.button,
.button.button-full,
.button-full.button {
  margin-top: 0px;
  margin-bottom: 0px;
}

.button-customn-nav {
  width             : 98%;
  float             : right;
  height            : 55px;
  font-size         : 20px;
  background-color  : transparent !important;
  text-align        : left;
  border-style      : solid;
  border-width      : 0px;
  border-color      : $smartLightBorder !important;
  margin-top        : 10px;
  padding-left      : 5px;

  &.noimage {
    padding-left: 10px;
  }

  &.active {
    background-color: #fff !important;
    border-width: 1px;
  }

  .icon {
    font-size: 20px;
  }
}

.view-button {
  background-color: $smartLightBlue;
}

.view-button h4{
  color: $white-color;
  width:90px;
}

.view-button-edit{
  background-color: $smartGreen;
}

.view-button-delete{
  background-color: $smartRed;
}

.item-options ion-option-button {
  margin: 0px !important;
  padding: 0px !important;
}
