/*
	Components

	extending components from ionic.app.scss
*/

.bar {
  height: 60px;

  &.bar-green {
    background: $smartGreen;
    border-width: 0px;

    .title {
      color: #fff;
      text-align: center;
      line-height: 60px;
      font-size: 20px;
    }

    .button {
      &.button-icon, &.back-button {
        color: #fff !important;
      }
    }
  }

  .title {
    height: $bar-transparent-height;
    line-height: $bar-transparent-height;
    font-size: $bar-transparent-title-font-size;
  }

  .button {
    &.button-icon, &.back-button {
      //color: $button-custom-icon-color;
      color: #000;
    }
    &.button-icon-dark {
      color: #000;
    }
  }

  .buttons {
    &.left-buttons {
      button {
        top: -5px;
        left: -5px;
        height: 60px;
        border-radius: 0px;
        width: 60px;
        &.button-cancel {
          &:after {
            @include inline-icons('../img/x-mark.png', 20px, 20px, 16px, 0, 0, 0, 9%);
            left: 13px;
          }
        }
      }
    }
    &.right-buttons {
      button {
        top: -5px;
        right: -5px;
        height: $bar-transparent-height;
        border-radius: 0px;
        width: 60px;
        &.button-save {
          &:after {
            @include inline-icons('../img/check-mark.png', 20px, 20px, 16px, 0, 0, 0, 9%);
            left: 16px;
          }
        }
      }
    }
  }
  .logo {
    text-align: center;
    img {
      width: 200px;
      margin: 0px 12px;
      /*height: 100%;*/
    }
  }
}

.bar-subheader, .has-header {
  top: 60px;
}

.item {
  border-color: $smartLightBorder;
  h2 {
    font-size: 18px;
    font-weight: 300;
  }
}

.item-complex .item-content {
  padding: 8px 25px 8px 8px;
}

i.icon {
  padding: 8px;
}

.body_manu_open {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: 100;
  position: absolute;
}

.img-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain !important;

  &.img-home {
    bottom: 95px;
  }

  &.img-select {
    bottom: 65px;
  }
}
.img-card.img-select {
  width: 100%;
  position: absolute;
  top: 0px;
}

.list-inset {
  label.item-input {
    background: transparent;
    padding: 5px 10px;
    ::-webkit-input-placeholder {
      color: #acadb5;
    }
    :-moz-placeholder {
      /* Firefox 18- */

      color: #acadb5;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */

      color: #acadb5;
    }
    :-ms-input-placeholder {
      color: #acadb5;
    }
    .icon {
      min-width: 14px;
      font-size: 24px;
      padding: 0 15px 0 10px;
    }
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
select {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding-right: 10px !important;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly]:not(.cloned-text-input),
textarea[readonly]:not(.cloned-text-input),
select[readonly] {
  background-color: #fff;
  -webkit-text-fill-color: black !important;
  -webkit-opacity: 1;
}

.menu-content {
  box-shadow: none;
}

.sweet-alert {
  border-radius: 0px;
  h2 {
    color: #666;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
  }
  fieldset {
    display: none;
  }
  &.show-input fieldset {
    display: block;
  }
  &.show-input input {
    display: block;
    border: 1px solid #ddd;
    padding: 26px 10px;
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 24px;
  }
  @media screen and (max-width: $break-small) {
    &.show-input input {
      font-size: 16px;
    }
  }
  button {
    background-color: $smartGreen !important;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  button.cancel {
    background-color: #fff !important;
    color: #666;
    text-decoration: underline;
  }
  .sa-icon.sa-success .sa-line {
    background-color: $smartGreen;
  }
  .sa-icon.sa-success .sa-placeholder {
    border: 4px solid $smartGreen;
    opacity: 0.2;
  }
}

.square-div {
  width: 40%;
  padding: 40%;
  box-sizing: border-box;
  position: relative;
  margin: auto;
}

.thumb {
  background-color: $smartLightGray;
  border: 1px solid $smartLightBorder;
  cursor: pointer;
  padding: 0px !important;
  margin: 0px;
}

.has-subheader {
  top:120px;
}

.version {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.version div {
  width: 100%;
  text-align: center;
  color: $smartVeryDarkGray;
}

.menu-open .content-backdrop {
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 11;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-transition: 0.1s opacity linear;
	-moz-transition: 0.1s opacity linear;
	transition: 0.1s opacity linear;
}

.square {
  position: relative;
  width: 100%;
  padding: 0px;
  padding-bottom: 100%;
  overflow: hidden;

  .content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0%;
    margin-top: 0px !important;

    .row.procedure-date {
      height: 30px;
      position: absolute;
      bottom: 0px;
      padding: 0px 5px;

      p {
        margin: 0;
        line-height: 30px;
      }
    }

    .row.procedure-name {
      height: 65px;
      position: absolute;
      bottom: 0px;
      padding: 0px 5px;

      h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 45px;
        display: block;
        width: 100%;
      }
    }

    .row.case-name {
      height: 65px;
      position: absolute;
      bottom: 30px;
      padding: 0px 5px;

      h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 45px;
        display: block;
        width: 100%;
      }
    }
  }
}

.lessflex{
  flex: 0 0 4%;
}

ion-header-bar {
  .button-icon {
    vertical-align: middle !important;
    height: 50px !important;

    &::before {
      vertical-align: middle !important;
      line-height: 50px !important;
    }
  }
}

.toggle {

  margin-bottom: 5px;
  .track {
    position: absolute;
    left: 0;
    top: 0;
  }

  .handle {
    top: 0;
    left: 0;
  }

  input:checked + .track {
    border-color: $smartGreen;
    background-color: $smartGreen;
  }

  .toggle-text {
    line-height: 20px;
    display: inline-block;
    width: 100%;
    margin-left: 55px;
  }
}

input[type="search"] {
  padding-left: 10px;
}

.smallloccall {
  padding-left: 10px;
  padding-right: 5px;
  font-size: 85%;
  margin: 0;
}

.platform-android .action-sheet .button,
.platform-android .action-sheet .action-sheet-title {
  padding-left: 10px;
}
