<form name="addForm" novalidate role="form">
  <div class="row main-content" fill-height additional-padding="50">
    <div class="col-xs-12">

      <!-- main -->
      <div class="main document-builder">
        <div class="DragnDrop settings">

          <div class="col-xs-6">
            <div ng-include src="'js/settings/templates/part.company.html'"></div>
          </div>

          <div class="col-xs-6">
            <div ng-include src="'js/settings/templates/part.settings.html'"></div>
          </div>

          <div class="col-xs-6">
            <div ng-include src="'js/settings/templates/part.license.html'"></div>
          </div>
        </div>
      </div>
      <!-- ./main -->

    </div>
  </div>
  <div ng-include src="'js/settings/templates/part.footer.html'"></div>
</form>
