/* Bootstrap Overrides
============================================================================= */
html {
  overflow-y: auto;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.btn-primary {
  border-color: #61B679;
  background-color: #61B679;
}

.btn-primary:hover {
  border-color: #3B9C55;
  background-color: #3B9C55;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3B9C55;
  border-color: #3B9C55;
}

.help-block {
  font-size: 10px;
}

.spacer {
    margin-top: 10px;
}

.margin-left {
  margin-left: 10px
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #61B679;
  border-color: #3B9C55;
}

.table-nowrap {
	table-layout: fixed;
}

.table-nowrap td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-margin {
  margin: 0 !important;
}

.no-pad-left {
  padding-left: 0 !important;
}

.no-pad-right {
  padding-right: 0 !important;
}

/* R-Dash Overrides
============================================================================= */
.row.header {
  border-bottom: 1px solid #ddd;
}

.widget .row > div {
  margin: 0;
}

.row.header .user > .item {
  width: auto;
  min-width: 60px;
  height: 60px;
  padding: 0 15px;
}

.row.header .user > .item a {
  text-decoration: none;
}

.row.header .user > .item i {
  padding-left: 15px;
}

.row.header .meta .breadcrumb-links a,
.row.header .meta .breadcrumb-links a:hover {
  color: #333333;
  text-decoration: none;
}

/* Sidebar styles
============================================================================= */
#sidebar-wrapper {
  background: #61B679;
}

.sidebar-info {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 75px;
  font-size: 12px;
  color: #eee;
  text-indent: 0;
}

ul.sidebar .sidebar-main a,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
    background: #3B9C55;
}

li.sidebar-main img {
    max-height: 28px;
    margin-left: -5px;
}

ul.sidebar .sidebar-title,
.sidebar-footer div a {
  color: #eee;
}

ul.sidebar .sidebar-list a {
  color: #fff;
  text-indent: 26px;
}

ul.sidebar .sidebar-list a.open {
  text-indent: 20px;
}

ul.sidebar .sidebar-list a.active,
ul.sidebar .sidebar-list a:hover {
  color: #fff;
  border-left: 3px solid #e99d1a;
  text-indent: 24px !important;
  background-color: #3B9C55;
}

.sidebar-footer {
  height: 50px;
}
.sidebar-footer div a {
  line-height: 50px;
}

.sidebar-footer .col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

/* Footer
============================================================================= */
#footer {
  height: 50px;
  padding: 10px;
  background: #fff;
  border-top: 1px solid #ddd;
}

#footer a {
  line-height: 30px;
  color: #ccc;
  text-decoration: none;
}

#footer a.active {
  color: #3B9C55;
}

#footer i {
  color: #ccc;
  padding: 0 5px;
}

#footer.row > div {
  margin-bottom: 0 !important;
}


/* FormBuilder
============================================================================= */
.elements,
.properties {
  padding: 0;
}

.main-content .panel-default {
  border: none;
  border-radius: 0;
  background: none;
}
.main-content .panel-default > .panel-heading {
  color: #333;
  background-color: #F3F3F3;
  border: none;
  padding: 5px 0;
}
.main-content .tab-content {
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}

.main-content .properties .tab-content {
  padding: 10px 10px;
  font-size: 12px;
}

.ui-tabs-scrollable > .spacer {
  margin: 0;
}

.ui-select-multiple.ui-select-bootstrap {
  margin-bottom: 10px;
}

/* Custom page CSS
============================================================================= */
.full-width {
  width: 100%;
}

.upload-div {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
}

.main-content {
  overflow: scroll;
  overflow-x: hidden;
}

.checkboxes {
 height: auto;
 max-height: 200px;
 min-height: 80px;
 overflow: auto;
 padding: 10px;
}

.has-error .checkboxes {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-icon {
  width: 12px;
}

/* Tour Guide
============================================================================= */
.row.dash > div {
  margin: 10px 0;
}

.tour-tip {
  margin: 0 20px;
  border-radius: 0 !important;

}

.tour-tip button,
.tour-tip .button {
  background-color: #61B679 !important;
  border-radius: 0 !important;
  box-shadow: none;
  line-height: 15px;
}

.tour-tip .tour-content-wrapper {
  padding: 1.3em 1.6em 1.5em;
}

.tour-tip .tour-close-tip {
  font-size: 21px;
}

/* Loading bar
============================================================================= */
#loading-bar .bar {
  background: #61B679;
}

/* Cookie consent button
============================================================================= */
.cc_container a.cc_btn {
  background-color: #61B679;
  color: #FFFFFF;
}

.cc_container a.cc_btn:hover {
  background-color: #3B9C55;
  color: #FFFFFF;
}

/* Sweet alert buttons
============================================================================= */
.sweet-alert button {
  background-color: #61B679;
  color: #FFFFFF;
  border: 1px solid;
  border-color: #61B679;
}

.sweet-alert button:hover {
  border-color: #3B9C55;
  background-color: #3B9C55;
}

.sweet-alert button.cancel {
  color: #333333;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  border-color: #CCCCCC; }

.sweet-alert button.cancel:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* User modal size
============================================================================= */
.add-user-modal .modal-dialog {
  width: 450px;
}

/* Image modal
============================================================================= */
.modalImage .modal-body {
  min-height: 50px;
}
