<div class="modal-header">
    <h3 class="modal-title" ng-if="user.user._id" translate>Edit user</h3>
    <h3 class="modal-title" ng-if="!user.user._id" translate>Add new user</h3>
</div>
<div class="modal-body">
  <form name="addForm" novalidate role="form">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group" ng-class="{ 'has-error': addForm.firstName.$invalid && !addForm.firstName.$pristine }">
          <label for="firstName"><span translate>First name</span> *</label>
          <input type="text" class="form-control" name="firstName" ng-model="user.user.firstName" required ng-minlength="2">
        </div>
        <div class="form-group" ng-class="{ 'has-error': addForm.lastName.$invalid && !addForm.lastName.$pristine }">
          <label for="lastName"><span translate>Last name</span> *</label>
          <input type="text" class="form-control" name="lastName" ng-model="user.user.lastName" required ng-minlength="2">
        </div>
        <div class="form-group " ng-class="{ 'has-error': addForm.email.$invalid && !addForm.email.$pristine }">
          <label for="description"><span translate>Email</span> *</label>
          <input type="email" class="form-control" name="email" ng-model="user.user.email" required ng-minlength="5">
        </div>
      </div>
      <!-- Also remove custom modal size from controller when showing groups -->
      <!-- <div class="col-sm-6 form-group">
        <label><span translate>Groups</span> *</label>
        <div class="upload-div checkboxes">
          <div ng-repeat="g in user.groups" ng-if="user.groups.length > 0">
            <input type="checkbox" checklist-model="user.user.groups" checklist-value="g._id"> {{g.name}}
          </div>
        </div>
        <div class="spacer"></div>
        <a ng-click="user.newGroup.active = true" ng-show="!user.newGroup.active" translate>+ Add new group</a>
        <ng-form name="grForm" class="form-inline" ng-show="user.newGroup.active" >
          <div class="form-group"ng-class="{ 'has-error': grForm.name.$invalid && !grForm.name.$pristine }">
            <input type="text" placeholder="{{'Group name' | translate}}" class="form-control" name="name" ng-model="user.newGroup.name" ng-minlength="2">
          </div>
          <button ng-click="user.addGroup()" class="btn btn-default" translate>Add</button>
        </ng-form>
        <span class="help-block" translate>Select desired user groups or add a new one.</span>
      </div> -->
    </div>
    <div class="row" ng-if="user.loggedUser !== user.user._id && user.loggedUserRole === 'superadmin'">
      <div class="col-sm-12 form-group">
        <label><span translate>Roles</span> *</label>
        <select class="form-control" ng-model="user.user.role" ng-options="r for r in user.roles"></select>
        <span class="help-block" translate>superadmin - access to everything; admin - access to his group; user - access only to mobile</span>
        <div class="spacer"></div>
      </div>
    </div>
    <div class="row" ng-if="user.loggedUser == user.user._id">
      <div class="form-group col-sm-6" ng-class="{ 'has-error': addForm.newPassword.$invalid && !addForm.newPassword.$pristine }">
        <label><span translate>New Password</span></label>
        <input type="password" name="newPassword" id="newPassword" ng-model="user.user.newPassword" class="form-control" ng-minlength="8"></input>
      </div>
      <div class="form-group col-sm-6" ng-class="{ 'has-error': !addForm.confirmNewPassword.$pristine && (addForm.confirmNewPassword.$invalid || user.user.confirmNewPassword != user.user.newPassword)}">
        <label><span translate>Confirm New Password</span></label>
        <input type="password" name="confirmNewPassword" ng-model="user.user.confirmNewPassword" class="form-control" ng-minlength="8" pw-check="newPassword"></input>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary pull-right" type="button" ng-click="user.save()" ng-disabled="(addForm.$dirty && addForm.$invalid) || addForm.$pristine" ng-if="!user.user._id" translate>Save</button>
    <button class="btn btn-primary pull-right" type="button" ng-click="user.save()" ng-disabled="(addForm.$dirty && addForm.$invalid) || addForm.$pristine" ng-if="user.user._id" translate>Update</button>
    <button class="btn btn-link pull-left" type="button" ng-click="user.cancel()" translate>Cancel</button>
    <div class="clearfix"></div>
</div>
