<!-- public/views/userView.html -->

<div class="row">
  <div class="col-xs-12">
    <table id="dataTablesUsers" datatable=""
      dt-options="user.dtOptions"
      dt-columns="user.dtColumns"
      dt-instance="user.dtInstance"
      class="table table-striped table-bordered">
    </table>
  </div>
</div>
