<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MightyFields Account Password Reset</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
					<tr>
						<td class="alert alert-mf aligncenter">
							<img width="240" height="42" alt="MightyFields Logo" src="http://www.mightyfields.com/wp-content/uploads/2016/01/logo.png" />
						</td>
					</tr>
					<tr>
						<td class="content-wrap">
							<meta itemprop="name" content="Confirm Email"/>
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="content-block">
										Hello {{user.firstName}} {{user.lastName}},
									</td>
								</tr>
								<tr>
									<td class="content-block">
										You recently requested to reset your password for your MightyField account. Click the button below to reset it.
									</td>
								</tr>
								<tr>
									<td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
										<a href="{{studio}}/#/change/{{user.resetPwdToken}}" class="btn-primary" itemprop="url">Reset your password</a>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										If you did not request a password reset, please ignore this email or reply to let us know. This password reset is only valid for the next 60 minutes.
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<strong>P.S.</strong> We also love hearing from you and helping you with any issues you have. Please reply to this email if you want to ask a question or just say hi.
									</td>
								</tr>
								<tr>
									<td class="content-block">
  									<hr>
                    <small>If you’re having trouble clicking the password reset button, copy and paste the URL below into your web browser.</small>
                    <small><a href="{{studio}}/#/change/{{user.resetPwdToken}}">{{studio}}/#/change/{{user.resetPwdToken}}</a></small>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										&mdash; The MightyFields Team
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>
							<td class="aligncenter content-block">Visit out website <a href="https://www.mightyfields.com">www.mightyfields.com</a>.</td>
						</tr>
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
