<!-- Header Bar -->
<div class="row header">
  <div class="col-xs-12">
    <div class="user pull-right">
      <div class="item dropdown" uib-dropdown>
        <a href="" id="profile-dropdown" uib-dropdown-toggle>
          <span translate>Hello</span>, {{main.user.firstName}} {{main.user.lastName}} <i class="fa fa-user"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="profile-dropdown">
          <li class="link">
            <a href="#/users/profile" translate>
              Profile
            </a>
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="#/settings" translate>
              Settings
            </a>
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href ng-click="main.logout()" translate>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="meta">
      <div class="page">
        <span ng-if="main.previousState">{{main.previousState.current}}</span>
        <span ng-if="!main.previousState">{{main.currentStateName()}}</span>
      </div>
      <div class="breadcrumb-links">
        <a ui-sref="dash" translate>Home</a> /
        <span ng-if="main.previousState"><a href="#/{{main.previousState.name}}">{{main.previousStateName()}}</a> /</span>
        {{main.currentStateName()}}
      </div>
    </div>
  </div>
</div>
<!-- End Header Bar -->
