<legend>Login Form</legend>

<div class="form-group">
  <label for="email" translate>Email</label>
  <input type="text" class="form-control" id="email" placeholder="{{ 'Email' | translate }}" ng-model="user.email">
</div>

<div class="form-group">
  <label for="password" translate>Password</label>
  <input type="password" class="form-control" id="password" placeholder="{{ 'Password' | translate }}" ng-model="user.password">
</div>

<button type="button" ng-click="login()" class="btn btn-primary" translate>Submit</button>
