<div id="footer" class="row">
  <div class="col-sm-3">
    <button class="btn btn-link pull-left" type="button" ng-click="proc.cancel()" translate>Cancel</button>
  </div>
  <div class="col-sm-6 text-center">
    <a ui-sref="procedure.setup" ng-class="{'active': main.state.current.name == 'procedure.setup'}" translate>Setup</a><i class="fa fa-angle-right"></i>
    <a ui-sref="procedure.design" ng-class="{'active': main.state.current.name == 'procedure.design'}" translate>Design</a><i class="fa fa-angle-right"></i>
    <a ui-sref="procedure.users" ng-class="{'active': main.state.current.name == 'procedure.users'}" translate>Users</a><i class="fa fa-angle-right"></i>
    <a ui-sref="procedure.confirm" ng-class="{'active': main.state.current.name == 'procedure.confirm'}" translate>Confirm</a>
  </div>
  <div class="col-sm-3 text-right">
    <button class="btn btn-primary pull-right" type="button" ng-if="proc.currentStep() === 'confirm'" ng-click="proc.publish()" ng-disabled="proc.canPublish() || proc.publishing" tooltip-placement="auto" uib-tooltip="{{'Make this procedure available for selected users.' | translate}}" translate>Publish</button>
    <span class="pull-right">&nbsp;</span>
    <button class="btn btn-primary pull-right" type="button" ng-if="proc.currentStep() !== 'confirm'" ng-click="proc.next()" ng-disabled="proc.isNextDisabled(addForm)" translate>Next</button>
    <span class="pull-right">&nbsp;</span>
    <button class="btn btn-default pull-right" type="button" ng-click="proc.save()" tooltip-placement="auto" uib-tooltip="{{'Save your progress. Changes won\'t be visible to end users.' | translate}}" translate>Save</button>
  </div>
</div>
