<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar">
    <li class="sidebar-main">
      <a ng-click="main.toggleSidebar()">
        <img src="images/logo.png">
        <span class="menu-icon glyphicon glyphicon-transfer"></span>
      </a>
    </li>
    <li class="sidebar-list">
      <a ui-sref="dash" ng-class="{'active': main.state.current.name == 'dash'}"><span translate>Dashboard</span> <span class="menu-icon fa fa-tachometer"></span></a>
    </li>
    <li class="sidebar-list">
      <a ui-sref="cases" ng-class="{'active': main.state.current.name == 'cases'}"><span translate>Cases</span> <span class="menu-icon fa fa-file-text-o"></span></a>
    </li>
    <li class="sidebar-list">
      <a ui-sref="procedures" ng-class="{'active': main.state.current.name == 'procedures'}"><span translate>Procedures</span> <span class="menu-icon fa fa-sitemap"></span></a>
    </li>
    <li class="sidebar-list">
      <a ui-sref="documents" ng-class="{'active': main.state.current.name == 'documents' || main.state.current.name == 'document'}"><span translate>Documents</span> <span class="menu-icon fa fa-book"></span></a>
    </li>
    <li class="sidebar-list">
      <a ui-sref="codelists" ng-class="{'active': main.state.current.name == 'codelists' || main.state.current.name == 'codeitems'}"><span translate>Codelists</span> <span class="menu-icon fa fa-list"></span></a>
    </li>
    <li class="sidebar-list">
      <a ui-sref="tasks" ng-class="{'active': main.state.current.name == 'tasks' || main.state.current.name == 'task'}"><span translate>Tasks</span> <span class="menu-icon fa fa-compress"></span></a>
    </li>
    <li class="sidebar-list">
      <a ui-sref="users" ng-class="{'active': main.state.current.name == 'users'}"><span translate>Users</span> <span class="menu-icon fa fa-users"></span></a>
    </li>
    <li class="sidebar-list">
      <a ui-sref="settings" ng-class="{'active': main.state.current.name == 'settings'}"><span translate>Settings</span> <span class="menu-icon fa fa-cog"></span></a>
    </li>
  </ul>
  <div class="sidebar-info" ng-if="main.toggle && main.getHeight() > 500">
    <span translate>{{main.config.name}}</span> {{main.config.version}}
  </div>
  <div class="sidebar-footer">
    <div class="col-xs-4 col-centered" ng-if="main.state.current.name === 'dash'">
      <a ng-click="main.startTour()" href="" translate>
        Help
      </a>
    </div>
    <!--<div class="col-xs-4 col-centered">
      <a ng-click="main.about()" href="" translate>
        About
      </a>
    </div>-->
    <div class="col-xs-4 col-centered" translate>
      <a href="http://www.mightyfields.com/contact" target="_blank">
        Support
      </a>
    </div>
  </div>
</div>
<!-- End Sidebar -->
