<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MightyFields Ponastavitev Gesla Računa</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
					<tr>
						<td class="alert alert-mf aligncenter">
							<img width="240" height="42" alt="MightyFields Logo" src="http://www.mightyfields.com/wp-content/uploads/2016/01/logo.png" />
						</td>
					</tr>
					<tr>
						<td class="content-wrap">
							<meta itemprop="name" content="Confirm Email"/>
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="content-block">
										Pozdravljeni {{user.firstName}} {{user.lastName}},
									</td>
								</tr>
								<tr>
									<td class="content-block">
										Zaprosili ste za ponastavitev gesla vašega MightyFields računa. Pritisnite na gumb spodaj, da ga ponastavite.
									</td>
								</tr>
								<tr>
									<td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
										<a href="{{studio}}/#/change/{{user.resetPwdToken}}" class="btn-primary" itemprop="url">Ponastavitev gesla</a>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										Če niste zahtevali spremembe gesla, prosim ignorirajte ta e-mail ali nam pišite, da nas opozorite. Ponastavitev bo možna samo v naslednjih 60 minutah.
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<strong>P.S.</strong> Zelo radi imamo če nam pišete in vam pomagamo z morebitnimi težavami. Prosimo odgovorite na ta e-mail če želite kaj vprašati ali samo pozdraviti.
									</td>
								</tr>
								<tr>
									<td class="content-block">
  									<hr>
                    <small> Če imate težave pri pritisku gumba za ponastavitev, kopirajte in prilepite spodnji URL v vaš spletni brskalnik.</small>
                    <small><a href="{{studio}}/#/change/{{user.resetPwdToken}}">{{studio}}/#/change/{{user.resetPwdToken}}</a></small>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										&mdash; Ekipa MightyFields
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>
							<td class="aligncenter content-block">Obiščite našo spletno stran <a href="https://www.mightyfields.com">www.mightyfields.com</a>.</td>
						</tr>
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
