<!-- <tour step="dash.currentStep" post-tour="postTourCallback()" post-step="postStepCallback()"> -->
<tour step="dash.currentStep" post-tour="dash.tourEnded()" post-step="dash.stepComplete()" tour-complete="dash.tourComplete()">
  <div class="row dash"
       tourtip="{{'Welcome to your MightyFields dashboard. Here you will find a summary for your entire operations for selected time period.'| translate }}"
       tourtip-next-label="{{'Next'|translate}}"
       tourtip-placement="center-top"
       tourtip-step="0">
  </div>

  <div class="row dash"
       tourtip="{{'In top row you can set the desired date range of the data shown in the dashboard.'|translate}}"
       tourtip-next-label="{{'Next'| translate }}"
       tourtip-placement="bottom"
       tourtip-step="1">
    <div class="col-xs-8">
      <a ui-sref="cases" class="btn btn-primary"><i class="fa fa-file-text-o"></i> <span translate>View all cases</span></a>
    </div>
    <div class="col-xs-4">
      <span class="pull-right">
        <span class="btn-group dropdown" uib-dropdown>
          <button type="button" id="period-dropdown" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
            <i class="fa fa-calendar"></i> {{dash.getPeriod()}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="period-dropdown">
            <li><a ng-click="dash.setPeriod('7days')" translate>Last 7 Days</a></li>
            <li><a ng-click="dash.setPeriod('14days')" translate>Last 14 Days</a></li>
            <li><a ng-click="dash.setPeriod('thisMonth')" translate>This Month</a></li>
            <li><a ng-click="dash.setPeriod('lastMonth')" translate>Last Month</a></li>
            <li><a ng-click="dash.setPeriod('thisYear')" translate>This Year</a></li>
            <li><a ng-click="dash.setPeriod('lastYear')" translate>Last Year</a></li>
          </ul>
        </span>
        <button class="btn btn-default" type="button" ng-click="dash.getData()">
          <i class="fa fa-refresh"></i>
        </button>
      </span>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="row dash"
       tourtip="{{ 'Counter show sistem summary in numbers for selected time period.' | translate }}"
       tourtip-next-label="{{'Next'|translate}}"
       tourtip-placement="bottom"
       tourtip-step="2">

  <!-- Counters -->
  	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
  		<rd-widget>
  			<rd-widget-body>
  				<div class="widget-icon green pull-left">
  					<i class="fa fa-file-text-o"></i>
  				</div>
  				<div class="title"><span count-to="{{dash.counters.cases}}" value="0" duration="1"></span></div>
  				<div class="comment text-nowrap" translate>Cases</div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>

  	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
  		<rd-widget>
  			<rd-widget-body>
  				<div class="widget-icon red pull-left">
  					<i class="fa fa-sitemap"></i>
  				</div>
  				<div class="title"><span count-to="{{dash.counters.procedures}}" value="0" duration="1"></span></div>
  				<div class="comment" translate>Procedures</div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>

  	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
  		<rd-widget>
  			<rd-widget-body>
  				<div class="widget-icon orange pull-left">
  					<i class="fa fa-users"></i>
  				</div>
  				<div class="title"><span count-to="{{dash.counters.users}}" value="0" duration="1"></span></div>
  				<div class="comment" translate>Users</div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>

  	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
  		<rd-widget>
  			<rd-widget-body>
  				<div class="widget-icon blue pull-left">
  					<i class="fa fa-compress"></i>
  				</div>
  				<div class="title"><span count-to="{{dash.counters.tasks}}" value="0" duration="1"></span></div>
  				<div class="comment" translate>Tasks</div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>
  </div>
  <!-- END Counters -->

  <div class="spacer"></div>

  <div class="row dash">
  	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
         tourtip="{{'Latest cases are shown here for selected time period.'|translate}}"
         tourtip-next-label="{{'Next' | translate }}"
         tourtip-placement="right"
         tourtip-step="3">
  		<rd-widget>
        <rd-widget-header icon="fa-file-text-o" title="{{'Latest Cases' | translate}}"></rd-widget-header>
        <rd-widget-body classes="large no-padding">
          <rd-loading ng-if="dash.loading"></rd-loading>
  				<div class="table-responsive" ng-if="!dash.loading">
  					<table class="table table-nowrap">
  						<thead>
  							<tr>
    							<th width="150" translate>Case name</th>
    							<th width="130" translate>Procedure</th>
    							<th width="90" translate>Created</th>
    							<th width="50"></th>
    						</tr>
  						</thead>
  						<tbody>
  							<tr ng-repeat="c in dash.data.cases track by $index">
    							<td>
                    <a href="" ng-click="dash.openDetails('case', c._id)">
                      <span uib-tooltip="{{c.name}}">{{c.name}}</span>
                    </a>
                  </td>
    							<td>{{c.procedure.label}} (v{{c.version.version}})</td>
    							<td>{{main.getDate(c.originTime)}}</td>
    							<td><button
                  type="button" ng-click="dash.openDetails('case', c._id)"
                  class="btn btn-xs btn-default"
                  popover-trigger="mouseenter"
                  popover-placement="bottom"
                  uib-popover="{{'View' | translate}}">
                    <i class="fa fa-eye"></i>
                  </button></td>
    						</tr>
  						</tbody>
  					</table>
  				</div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>
  	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
         tourtip="{{'All your users are listed here.' | translate}}"
         tourtip-next-label="{{'Next' | translate}}"
         tourtip-placement="left"
         tourtip-step="4">
  		<rd-widget>
  			<rd-widget-header icon="fa-users" title="{{'Users' | translate}}">
  				<!--<input type="text" ng-model="dash.search" placeholder="{{'Search'|translate}}" class="form-control input-sm" />-->
  			</rd-widget-header>
  			<rd-widget-body classes="large no-padding">
          <rd-loading ng-if="dash.loading"></rd-loading>
  				<div class="table-responsive" ng-if="!dash.loading">
  					<table class="table table-nowrap text-nowrap">
  						<thead>
  							<tr>
    							<th width="150" translate>Name</th>
    							<th width="170" translate>Email</th>
    							<th width="50" translate>Cases</th>
    							<th width="50"></th>
    						</tr>
  						</thead>
  						<tbody>
  							<tr ng-repeat="u in dash.data.users track by $index">
    							<td>
                    <a href="" ng-click="dash.openDetails('user', u._id)">
                      {{u.firstName}} {{u.lastName}}
                    </a>
                  </td>
    							<td>{{u.email}}</td>
    							<td>{{u.meta.cases}}</td>
    							<td><button
                  type="button"
                  ng-click="dash.openDetails('user', u._id)"
                  class="btn btn-xs btn-default"
                  popover-trigger="mouseenter"
                  popover-placement="bottom"
                  uib-popover="{{'Edit' | translate}}">
                    <i class="fa fa-edit"></i>
                  </button></td>
    						</tr>
  						</tbody>
  					</table>
          		</div>
  			</rd-widget-body>
  		<rd-widget>
  	</div>
  </div>

</tour>
