<!DOCTYPE html>
<html ng-app="appStarterWeb">

<head>
  <title>App Starter</title>
  <meta charset="utf-8"/>
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="shortcut icon" href="images/favicon.ico">


  <!-- STYLES -->
  <!-- build:css css/vendor.min.css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext"  type="text/css">
  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="libs/rdash-ui/dist/css/rdash.css">
  <link rel="stylesheet" href="libs/datatables/media/css/dataTables.bootstrap.css">
  <link rel="stylesheet" href="libs/angular-toastr/dist/angular-toastr.min.css">
  <link rel="stylesheet" href="libs/angular-ui-tab-scroll/angular-ui-tab-scroll.css">
  <link rel="stylesheet" href="libs/ui-select/dist/select.css">
  <link rel="stylesheet" href="libs/angular-tour/dist/angular-tour.css">
  <link rel='stylesheet' href="libs/angular-loading-bar/build/loading-bar.min.css">
  <link rel="stylesheet" href="libs/sweetalert/dist/sweetalert.css">
  <!-- endbuild -->

  <!-- build:css css/app.min.css -->
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="js/auth/auth.css">
  <link rel="stylesheet" href="js/settings/settings.css">
  <!-- endbuild -->
</head>


<body ng-controller="MainController as main" ng-class="{'auth': main.isAuth}">
  <!-- PAGE TEMPLATE -->
  <div id="page-wrapper" ng-class="{'open': main.toggle}" ng-cloak ng-if="!main.isAuth">
    <div ng-include src="'partials/sidebar.html'"></div>
    <div id="content-wrapper">
      <div class="page-content">

        <div ng-include src="'partials/header.html'"></div>

        <div ui-view class="page-content"></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
  <!-- End PAGE TEMPLATE -->

  <!-- AUTH TEMPLATE -->
  <div class="login-page" ng-cloak ng-if="main.isAuth">
    <div class="login-page" ui-view class="page-content"></div>
  </div><!-- End Page Wrapper -->
  <!-- End AUTH TEMPLATE -->

  <!-- Application Dependencies -->
  <!-- build:js js/vendor.min.js -->
  <script type="text/javascript" src="libs/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="libs/moment/moment.js"></script>
  <script type="text/javascript" src="libs/datatables/media/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="libs/datatables/media/js/dataTables.bootstrap.js"></script>
  <script type="text/javascript" src="libs/datatables-buttons/js/dataTables.buttons.js"></script>
  <script type="text/javascript" src="libs/datatables-buttons/js/buttons.bootstrap.js"></script>
  <script type="text/javascript" src="libs/datatables-plugins/sorting/datetime-moment.js"></script>
  <script type="text/javascript" src="libs/angular/angular.js"></script>
  <script type="text/javascript" src="libs/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="libs/angular-sanitize/angular-sanitize.js"></script>
  <script type="text/javascript" src="libs/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="libs/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="libs/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="libs/satellizer/satellizer.js"></script>
  <script type="text/javascript" src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="libs/angular-datatables/dist/angular-datatables.min.js"></script>
  <script type="text/javascript" src="libs/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.js"></script>
  <script type="text/javascript" src="libs/checklist-model/checklist-model.js"></script>
  <script type="text/javascript" src="libs/angular-gettext/dist/angular-gettext.min.js"></script>
  <script type="text/javascript" src="libs/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
  <script type="text/javascript" src="libs/underscore/underscore-min.js"></script>
  <script type="text/javascript" src="libs/angular-ui-tab-scroll/angular-ui-tab-scroll.js"></script>
  <script type="text/javascript" src="libs/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
  <script type="text/javascript" src="libs/ng-file-upload/ng-file-upload-shim.js"></script>
  <script type="text/javascript" src="libs/ng-file-upload/ng-file-upload.js"></script>
  <script type="text/javascript" src="libs/angular-count-to/build/angular-count-to.min.js"></script>
  <script type="text/javascript" src="libs/angular-dynamic-locale/dist/tmhDynamicLocale.js"></script>
  <script type="text/javascript" src="libs/file-saver.js/FileSaver.js"></script>
  <script type="text/javascript" src="libs/ui-select/dist/select.js"></script>
  <script type="text/javascript" src="js/directives/angular-tour.js"></script>
  <script type="text/javascript" src="libs/angular-loading-bar/build/loading-bar.min.js"></script>
  <script type="text/javascript" src="libs/ng-pattern-restrict/src/ng-pattern-restrict.min.js"></script>
  <script type="text/javascript" src="libs/sweetalert/dist/sweetalert.min.js"></script>
  <script type="text/javascript" src="libs/angular-sweetalert/SweetAlert.min.js"></script>
  <script type="text/javascript" src="libs/cookieconsent2/build/cookieconsent.min.js"></script>
  <script type="text/javascript" src="libs/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
  <script type="text/javascript" src="libs/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>

  <!-- endbuild -->

  <!-- build:js js/internationalization.min.js -->
  <!-- momentjs locales -->
  <script type="text/javascript" src="libs/moment/locale/sl.js"></script>
  <!-- end momentjs locales -->

  <!-- Application Translations -->
  <script src="js/translations/en_GB.js"></script>
  <script src="js/translations/sl_SI.js"></script>
  <!-- endbuild -->

  <!-- build:js js/tinymce/tinymce.min.js -->
  <script type="text/javascript" src="libs/tinymce-dist/tinymce.js"></script>
  <script type="text/javascript" src="libs/angular-ui-tinymce/src/tinymce.js"></script>
  <script type="text/javascript" src="js/directives/plugin.mfvariables.js"></script>
  <!-- endbuild -->

  <!-- build:js js/app.min.js -->
  <!-- Application Scripts -->
  <script src="js/config.js"></script>
  <script src="js/app.js"></script>

  <!-- Main -->
  <script src="js/main/mod.main.js"></script>
  <script src="js/main/ctrl.main.js"></script>
  <script src="js/main/fct.constants.js"></script>
  <script src="js/main/fct.cachedResource.js"></script>
  <script src="js/main/fct.fieldTemplates.js"></script>
  <script src="js/main/fct.serverErrorInterceptor.js"></script>
  <script src="js/main/fct.confirmDelete.js"></script>

  <!-- Directives -->
  <script src="js/directives/mod.directives.js"></script>
  <script src="js/directives/loading.js"></script>
  <script src="js/directives/widget.js"></script>
  <script src="js/directives/widget-body.js"></script>
  <script src="js/directives/widget-footer.js"></script>
  <script src="js/directives/widget-header.js"></script>
  <script src="js/directives/fillHeight.js"></script>
  <script src="js/directives/passwordCheck.js"></script>
  <script src="js/directives/affix.js"></script>

  <!-- Auth -->
  <script src="js/auth/mod.auth.js"></script>
  <script src="js/auth/ctrl.auth.js"></script>
  <script src="js/auth/fct.auth.js"></script>
  <script src="js/auth/fct.interceptor.js"></script>
  <script src="js/auth/fct.session.js"></script>
  <script src="js/auth/dec.satellizerStorage.js"></script>

  <!-- Dashboard -->
  <script src="js/dash/mod.dash.js"></script>
  <script src="js/dash/fct.dash.js"></script>
  <script src="js/dash/ctrl.dash.js"></script>

  <!-- Users -->
  <script src="js/users/mod.users.js"></script>
  <script src="js/users/ctrl.users.js"></script>
  <script src="js/users/ctrl.user.js"></script>
  <script src="js/users/fct.users.js"></script>
  <script src="js/users/fct.groups.js"></script>

  <!-- Settings -->
  <script src="js/settings/mod.settings.js"></script>
  <script src="js/settings/ctrl.settings.js"></script>
  <script src="js/settings/fct.account.js"></script>
  <!-- endbuild -->

</body>
</html>
