body {
  font-family:"Avenir", "Roboto", Arial, sanf-serif;
	color: #222;
}

ins {
  text-decoration: none;
}

/* Original bootstrap text is too big for PDF documents */
p, td {
  font-size: 12px;
}
/* Original bootstrap tables have no padding */
td {
  padding: 2px;
}
