<div class="control-wrapper" ng-if="show">
  <ng-form name="subForm" ng-class="{'error': subForm['field' + data.type + data.id].$invalid && subForm.$dirty}">
    <div>
      <p class="field-label">{{::data.name}}
        <span ng-if="::required">*</span>
        <span class="hint" ng-click="::openPopover($event)" ng-if="::data.hint"><i class="icon ion-ios-information"></i></span>
      </p>
      <label class="item item-input">
        <select id="{{::data.guid}}"
                name="{{::'field' + data.type + data.id}}"
                ng-model="ngModel"
                ng-change="::service.saveValue(data.parentId,data.id,ngModel,data.guid)"
                ng-disabled="closed"
                ng-focus="::fieldFocused($event)"
                field-name
                ng-valid-dropdown
                ng-if="::!multiple"
                ng-options="item.Label for item in ::data.dataSource track by item.Id_CodeItem" >
        </select>
        <select id="{{::data.guid}}"
                name="{{::'field' + data.type + data.id}}"
                ng-model="ngModel"
                ng-change="::service.saveValue(data.parentId,data.id,ngModel,data.guid)"
                ng-disabled="closed"
                ng-focus="::fieldFocused($event)"
                field-name
                ng-valid-dropdown
                multiple
                ng-if="::multiple"
                ng-options="item.Label for item in ::data.dataSource track by item.Id_CodeItem" >
        </select>
        <i class="icon ion-ios-arrow-down text-right"></i>
      </label>
      <small ng-hide="subForm.$dirty && subForm.$invalid">{{::data.help}}</small>
      <div ng-messages="subForm['field' + data.type + data.id].$error" role="alert" ng-if="subForm.$dirty" class="error-msg">
          <small ng-message="required"><span translate>This field is required</span></small>
          <small ng-message="minselect"><span translate>You should choose at least {{::minselect}} option(s)</span></small>
          <small ng-message="maxselect"><span translate>You should't choose more then {{::maxselect}} option(s)</span></small>
      </div>
    </div>
  </ng-form>
</div>
