<div ng-if="!closed && show" class="control-wrapper">
  <p class="field-label">{{::data.name}}
    <span class="hint" ng-click="openPopover($event)" ng-if="::data.hint"><i class="icon ion-ios-information"></i></span>
  </p>
  <button class="button button-block button-outline button-custom" ng-click="openPopup()"><i class="ion-ios-search-strong"></i> <span>{{::data.name}}</span></button>
  <small ng-hide="subForm.$dirty && subForm.$invalid">{{::data.help}}</small>
</div>
