<div class="control-wrapper" ng-if="show">
  <p class="field-label">{{::data.name}}
      <span ng-if="::required">*</span>
      <span class="hint" ng-click="openPopover($event)" ng-if="::data.hint"><i class="icon ion-ios-information"></i></span>
    </p>
  <small>{{::data.desc}}</small>
  <ng-form name="tableForm" ng-if="!closed">
    <div class="row table-row" ng-class="{'error-table': subForm.$invalid && subForm.$dirty}">
      <div class="col table-col">
        <plugify plugin="data.table" form="data.formId" section="data.sectId" parent="data.id"></plugify>
      </div>
    </div>
  </ng-form>
  <div class="row">
    <div class="col control buttons">
      <button class="button button-custom" ng-click="saveValue(data.guid)" ng-disabled="tableForm.$invalid || closed" ng-if="!closed">
        <i class="icon ion-ios-plus-empty"></i> <span translate>Add</span>
      </button>
    </div>
    <div class="col control buttons">
      <button class="button button-light" ng-click="openTableData()" ng-disabled="!cs.values[data.guid].length">
        <i class="icon ion-ios-list-outline"></i> <span translate>Entries</span>{{cs.values[data.guid].length ? ' (' + cs.values[data.guid].length + ')' : ''}}
      </button>
    </div>
  </div>
  <ng-form name="subForm" ng-class="{'error-table': subForm.$invalid}">
    <input type="hidden" id="{{::data.guid}}" name="{{'field' + data.type + data.id}}" ng-model="::data.value" ng-valid-table />
    <small ng-hide="subForm.$dirty && subForm.$invalid">{{::data.help}}</small>
    <div ng-messages="subForm['field' + data.type + data.id].$error" class="error-msg" role="alert" ng-if="subForm.$dirty">
      <div ng-message="required"><span translate>This field is required</span></div>
      <div ng-message="minvalues"><span translate>Must enter at least {{::minvalue_value}} entries</span></div>
      <div ng-message="maxvalues"><span translate>Should not be more then {{::maxvalue_value}} entries</span></div>
    </div>
  </ng-form>
</div>
