<div class="control-wrapper">
  <!--TO field    -->
  <ng-form name="subForm1" ng-if="::!ngModel[0].value.hidden" 
    ng-class="{'error': subForm1['field' + data.type + data.id + '_0'].$invalid && subForm1.$dirty}">
    <div>
      <p class="field-label"><span translate>To</span>
        <span ng-if="::ngModel[0].value.required">*</span>
      </p>
      <label class="item item-input">
        <input type="text" id="{{::data.guid + '_0'}}" name="{{::'field' + data.type + data.id + '_0'}}" ng-model="::ngModel[0].value.value" ng-change="service.saveValue(data.guid, ngModel)" ng-disabled="closed" ng-required="ngModel[0].value.required" multiple-emails field-name>
      </label>
      <small ng-hide="subForm1.$dirty && subForm1['field' + data.type + data.id + '_0'].$invalid"><span translate>Single or multiple destination emails separated by comma.</span></small>
      <div ng-messages="subForm1['field' + data.type + data.id + '_0'].$error" role="alert" ng-if="subForm1.$dirty" class="error-msg">
        <small ng-message="::required"><span translate>This field is required</span></small>
        <small ng-message="::multipleEmails"><span translate>Must be a valid email address or multiple addresses</span></small>
      </div>
    </div>
  </ng-form>
  
  
  <!--FROM field    -->
  <ng-form name="subForm2" ng-if="::!ngModel[1].value.hidden"
    ng-class="{'error': subForm2['field' + data.type + data.id + '_1'].$invalid && subForm2.$dirty}">
    <div>
      <p class="field-label"><span translate>From</span>
        <span ng-if="::ngModel[1].value.required">*</span>
      </p>
      <label class="item item-input">
        <input id="{{::data.guid + '_1'}}" name="{{::'field' + data.type + data.id + '_1'}}" type="email" ng-model="::ngModel[1].value.value" ng-change="service.saveValue(data.guid, ngModel)" ng-disabled="::closed" ng-required="::ngModel[1].value.required" field-name>
      </label>
      <small ng-hide="subForm2.$dirty && subForm2['field' + data.type + data.id + '_1'].$invalid"><span translate>Sender email.</span></small>
      <div ng-messages="subForm2['field' + data.type + data.id + '_1'].$error" role="alert" ng-if="subForm2.$dirty" class="error-msg">
        <small ng-message="required"><span translate>This field is required</span></small>
        <small ng-message="email"><span translate>Must be a valid email address</span></small>
      </div>
    </div>
  </ng-form>
  
  <!--CC field    -->
  <ng-form name="subForm3" ng-if="::!ngModel[2].value.hidden"
    ng-class="{'error': subForm3['field' + data.type + data.id + '_2'].$invalid && subForm3.$dirty}">
    <div>
      <p class="field-label"><span translate>Cc</span>
        <span ng-if="::ngModel[2].value.required">*</span>
      </p>
      <label class="item item-input">
        <input id="{{::data.guid + '_2'}}" name="{{::'field' + data.type + data.id + '_2'}}" type="text" ng-model="::ngModel[2].value.value" ng-change="service.saveValue(data.guid, ngModel)" ng-disabled="::closed" ng-required="::ngModel[2].value.required" multiple-emails field-name>
      </label>
      <small ng-hide="subForm3.$dirty && subForm3['field' + data.type + data.id + '_2'].$invalid"><span translate>Single or multiple destination emails separated by comma.</span></small>
      <div ng-messages="subForm3['field' + data.type + data.id + '_2'].$error" role="alert" ng-if="subForm3.$dirty" class="error-msg">
        <small ng-message="multipleEmails"><span translate>Must be a valid email address or multiple addresses</span></small>
      </div>
    </div>
  </ng-form>
  
  <!--BCC field    -->
  <ng-form name="subForm4" ng-if="::!ngModel[3].value.hidden"
    ng-class="{'error': subForm4['field' + data.type + data.id + '_3'].$invalid && subForm4.$dirty}">
    <div>
      <p class="field-label"><span translate>Bcc</span>
        <span ng-if="::ngModel[3].value.required">*</span>
      </p>
      <label class="item item-input">
        <input id="{{::data.guid + '_3'}}" name="{{::'field' + data.type + data.id + '_3'}}" type="text" ng-model="::ngModel[3].value.value" ng-change="service.saveValue(data.guid, ngModel)" ng-disabled="::closed" ng-required="::ngModel[3].value.required" multiple-emails field-name>
      </label>
      <small ng-hide="subForm4.$dirty && subForm4['field' + data.type + data.id + '_3'].$invalid"><span translate>Single or multiple destination emails separated by comma.</span></small>
      <div ng-messages="subForm4['field' + data.type + data.id + '_3'].$error" role="alert" ng-if="subForm4.$dirty" class="error-msg">
        <small ng-message="multipleEmails"><span translate>Must be a valid email address or multiple addresses</span></small>
      </div>
    </div>
  </ng-form>
  
  <!--SUBJECT field    -->
  <ng-form name="subForm5" ng-if="::!ngModel[4].value.hidden" 
    ng-class="{'error': subForm5['field' + data.type + data.id + '_4'].$invalid && subForm5.$dirty}">
    <div>
      <p class="field-label"><span translate>Subject</span>
        <span ng-if="::ngModel[4].value.required">*</span>
      </p>
      <label class="item item-input">
        <input id="{{::data.guid + '_4'}}" name="{{::'field' + data.type + data.id + '_4'}}" type="text" ng-model="::ngModel[4].value.value" ng-change="service.saveValue(data.guid, ngModel)" ng-disabled="::closed" ng-required="::ngModel[4].value.required" field-name>
      </label>
      <small ng-hide="subForm5.$dirty && subForm5['field' + data.type + data.id + '_4'].$invalid"><span translate>Email subject.</span></small>
      <div ng-messages="subForm5['field' + data.type + data.id + '_4'].$error" role="alert" ng-if="subForm5.$dirty" class="error-msg">
        <small ng-message="required"><span translate>This field is required</span></small>
      </div>
    </div>
  </ng-form>
  
  <!--BODY field    -->
  <ng-form name="subForm6" ng-if="::!ngModel[5].value.hidden"
    ng-class="{'error': subForm6['field' + data.type + data.id + '_5'].$invalid && subForm6.$dirty}">
    <div>
      <p class="field-label"><span translate>Body</span>
        <span ng-if="::ngModel[5].value.required">*</span>
      </p>
      <label class="item item-input">
        <textarea id="{{::data.guid + '_5'}}" name="{{::'field' + data.type + data.id + '_5'}}" ng-model="::ngModel[5].value.value" ng-change="service.saveValue(data.guid, ngModel)" ng-disabled="::closed" required="::ngModel[5].value.required" field-name></textarea>
      </label>
      <small ng-hide="subForm6.$dirty && subForm6['field' + data.type + data.id + '_5'].$invalid"><span translate>Email body.</span></small>
      <div ng-messages="subForm6['field' + data.type + data.id + '_5'].$error" role="alert" ng-if="subForm6.$dirty" class="error-msg">
        <small ng-message="required"><span translate>This field is required</span></small>
      </div>
    </div>
  </ng-form>
  
  
  
  <!--Document List field    -->
  <ng-form name="subForm7" ng-if="::!ngModel[6].value.hidden">
    <div>
      <p class="field-label"><span translate>Documents</span>
        <span ng-if="::ngModel[6].value.required">*</span>
      </p>
      <label>
        <input type="hidden" name="{{'field' + data.type + data.id + '_6_' + $index}}" ng-model="ngModel" ng-valid-checkbox />
        <ion-checkbox ng-repeat="item in ::ngModel[6].value.value" id="{{data.guid + '_6_' + $index}}" name="{{'checkbox' + data.type +'' + data.id + '_6_' + $index}}" ng-model="item.value" ng-checked="item.value" ng-change="saveValue()" ng-disabled="closed" field-name>
          {{::item.name}}
        </ion-checkbox>
      </label>
    </div>
  </ng-form>

</div>