<div>
  <ng-form name="subForm" ng-class="{'error': subForm['field' + data.type + data.id].$invalid && subForm.$dirty}">
    <input id="{{::data.guid}}" 
           name="{{::('field' + data.type + data.id)}}" 
           type="hidden" 
           ng-model="ngModel" 
           ng-change="service.saveValue(data.parentId,data.id,ngModel,data.guid)"
           ng-disabled="closed" 
           ng-valid-input 
           field-name>
  </ng-form>
</div>