<div class="control-wrapper" ng-class="{'radio-inline': inline}" ng-if="show">
  <ng-form name="subForm" ng-class="{'error': subForm['field' + data.type +'' + data.id].$invalid && subForm.$dirty}">
    <div>
      <p class="field-label">{{::data.name}}
        <span ng-if="::required">*</span>
        <span class="hint" ng-click="::openPopover($event)" ng-if="::data.hint"><i class="icon ion-ios-information"></i></span>
      </p>
      <label>
         <input type="hidden"
                name="{{::'field' + data.type + data.id}}"
                ng-model="ngModel"
                ng-valid-radio />
         <ion-radio ng-repeat="item in ::data.dataSource"
                    id="{{::data.guid}}"
                    name="{{::'radio' + data.type +'' + data.id}}"
                    ng-model="item.Checked"
                    ng-change="::saveValue(item);"
                    ng-disabled="closed"
                    field-name
                    ng-value="::item.Value">
                    {{::item.Label}}
          </ion-radio>
      </label>
      <small ng-hide="subForm.$dirty && subForm.$invalid">{{::data.help}}</small>
      <div ng-messages="subForm['field' + data.type +'' + data.id].$error" role="alert" ng-if="subForm.$dirty" class="error-msg">
        <div ng-message="required"><span translate>This field is required</span></div>
      </div>
    </div>
  </ng-form>
</div>
