<div class="control-wrapper" ng-if="show">
  <ng-form name="subForm">
    <div>
      <p class="field-label">
        <span class="hint" ng-click="::openPopover($event)" ng-if="::data.hint"><i class="icon ion-ios-information"></i></span>
      </p>
      <label class="toggle">
         <input type="checkbox"
                id="{{::data.guid}}"
                name="{{::'field' + data.type + data.id}}"
                ng-model="ngModel.Value"
                ng-change="::service.saveValue(data.parentId, data.id, ngModel, data.guid);"
                ng-disabled="closed"
                field-name>
         <div class="track">
           <div class="handle"></div>
         </div>
         <span class="toggle-text">{{::data.name}} <span ng-if="::required">*</span></span>
      </label>
      <small ng-hide="subForm.$dirty && subForm.$invalid">{{::data.help}}</small>
    </div>
  </ng-form>
</div>
