<div class="control-wrapper" ng-if="show">
  <ng-form name="subForm" ng-class="{'error': subForm['field' + data.type +'' + data.id].$invalid && subForm.$dirty}">
    <div>
      <p class="field-label">{{::data.name}}
        <span ng-if="required">*</span>
        <span class="hint" ng-click="::openPopover($event)" ng-if="::data.hint"><i class="icon ion-ios-information"></i></span>
      </p>
      <label class="item item-input">
        <textarea id="{{::data.guid}}"
                name="{{::'field' + data.type + data.id}}"
                ng-model="ngModel"
                ng-change="::saveValue(ngModel)"
                ng-disabled="closed"
                ng-focus="::fieldFocused($event)"
                ng-valid-input
                field-name>
        </textarea>
      </label>
      <small ng-hide="subForm.$dirty && subForm.$invalid">{{::data.help}}</small>
      <div ng-messages="subForm['field' + data.type +'' + data.id].$error"
        role="alert" ng-if="subForm.$dirty">
        <div ng-message="required"><span translate>This field is required</span></div>
        <div ng-message="alphanum"><span translate>This field may only contain letters and numbers</span></div>
        <div ng-message="minlength"><span translate>Must be at least {{::minlengthValue}} characters long</span></div>
        <div ng-message="maxlength"><span translate>Should not be more then {{::maxlengthValue}} characters long</span></div>
        <div ng-message="numeric"><span translate>This field may only contain numbers</span></div>
        <div ng-message="url"><span translate>Must be a valid url address</span></div>
        <div ng-message="email"><span translate>Must be a valid email address</span></div>
      </div>
    </div>
  </ng-form>
</div>
