<div class="control-wrapper" ng-if="show">
  <ng-form name="subForm" ng-class="{'error': subForm['field' + data.type + data.id].$invalid && subForm.$dirty}">
    <div>
      <p class="field-label">{{::data.name}}
        <span ng-if="::required">*</span>
        <span class="hint" ng-click="::openPopover($event)" ng-if="::data.hint"><i class="icon ion-ios-information"></i></span>
      </p>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input
            id="{{::data.guid}}"
            name="{{::'field' + data.type + data.id}}"
            type="text"
            ng-model="ngModel"
            ng-focus="::fieldFocused($event)"
            ng-change="::service.saveValue(data.parentId, data.id, ngModel, data.guid)"
            ng-disabled="closed"
            ng-valid-input
            keyboard-next
            field-name >
        </label>
        <button class="button button-small green" ng-click="::scanBarcode()" ng-disabled="closed" translate>Scan</button>
      </div>
      <small ng-hide="subForm.$dirty && subForm.$invalid">{{::data.help}}</small>
      <div ng-messages="subForm['field' + data.type + data.id].$error"
        role="alert" ng-if="subForm.$dirty">
        <small ng-message="required"><span translate>This field is required</span></small>
      </div>
    </div>
  </ng-form>
</div>
