<div class="control-wrapper" ng-if="show">
  <ng-form name="subForm" ng-class="{'error': subForm['field' + data.type + data.id].$invalid && subForm.$dirty}">
    <div>
      <p class="field-label">{{::data.name}}
        <span ng-if="::required">*</span>
        <span class="hint" ng-click="::openPopover($event)" ng-if="::data.hint"><i class="icon ion-ios-information"></i></span>
      </p>
      <div class="images-gallery" class="cleafix">
        <button class="button button-custom pull-left" ng-click="addMedia()" ng-disabled="closed" translate>Add</button>
        <span ng-repeat="i in ngModel track by $index" class="cleafix">
          <div class="thumbnail" style="background-image: url('{{dataDirectory + i.name}}')">
            <span class="close" ng-if="!closed" ng-click="removeImage($index)">
              <i class="icon ion-ios-close-empty"></i>
            </span>
          </div>
        </span>
      </div>
      <small ng-hide="subForm.$dirty && subForm.$invalid">{{::data.help}}</small>
      <div ng-messages="subForm['field' + data.type + data.id].$error"
        role="alert" ng-if="subForm.$dirty && !closed">
        <small ng-message="required"><span translate>This field is required</span></small>
        <small ng-message="minlength"><span translate>Must be at least {{::minlengthValue}} characters long</span></small>
        <small ng-message="maxlength"><span translate>Should not be more then {{maxlengthValue}} characters long</span></small>
      </div>
    </div>
  </ng-form>
</div>
