<div class="control-wrapper" ng-if="show">
  <ng-form name="subForm" ng-class="{'error': subForm['field' + data.type + data.id].$invalid && subForm.$dirty}">
    <div>
      <p class="field-label">{{::data.name}}
        <span ng-if="::required">*</span>
        <span class="hint" ng-click="::openPopover($event)" ng-if="::data.hint"><i class="icon ion-ios-information"></i></span>
      </p>
      <label class="item item-input">
          <input id="{{::data.guid}}"
                 name="{{::('field' + data.type + data.id)}}"
                 type="{{::type()}}"
                 ng-model="ngModel"
                 ng-change="::service.saveValue(data.parentId,data.id,ngModel,data.guid)"
                 ng-disabled="closed"
                 ui-mask="{{::mask}}"
                 model-view-value="true"
                 ng-valid-input
                 ng-focus="::fieldFocused($event)"
                 field-name
                 keyboard-next
                 ng-if="::type() != 'number'">

          <input id="{{::data.guid}}"
                 name="{{::('field' + data.type + data.id)}}"
                 type="{{::type()}}"
                 ng-pattern="/^[+-]?[0-9]+([\.\,][0-9]*)?$/"
                 step="any"
                 ng-model="ngModel"
                 ng-change="::service.saveValue(data.parentId,data.id,ngModel,data.guid)"
                 ng-disabled="closed"
                 ng-focus="::fieldFocused($event)"
                 ui-mask="{{::mask}}"
                 model-view-value="true"
                 ng-valid-input
                 field-name
                 keyboard-next
                 ng-if="::type() == 'number'">
      </label>
      <small ng-hide="subForm.$dirty && subForm.$invalid">{{::data.help}}</small>
      <div ng-messages="subForm['field' + data.type + data.id].$error" role="alert" ng-if="subForm.$dirty" class="error-msg">
        <small ng-message="alphanum"><span translate>This field may only contain letters and numbers</span></small>
        <small ng-message="minlength"><span translate>Must be at least {{::minlengthValue}} characters long</span></small>
        <small ng-message="maxlength"><span translate>Should not be more then {{::maxlengthValue}} characters long</span></small>
        <small ng-message="numeric"><span translate>This field may only contain numbers</span></small>
        <small ng-message="url"><span translate>Must be a valid url address</span></small>
        <small ng-message="email"><span translate>Must be a valid email address</span></small>
        <small ng-message="required"><span translate>This field is required</span></small>
      </div>
    </div>
  </ng-form>
</div>
