<div class="control-wrapper" ng-if="show">
  <ng-form name="subForm" ng-class="{'error': subForm['field' + data.type +'' + data.id].$invalid && subForm.$dirty}">
    <div>
      <p class="field-label">{{::data.name}}
        <span ng-if="::required">*</span>
        <span class="hint" ng-click="::openPopover($event)" ng-if="::data.hint"><i class="icon ion-ios-information"></i></span>
      </p>
      <label class="item item-input">
        <input id="{{::data.guid}}"
          name="{{::'field' + data.type + data.id}}"
          type="time"
          ng-model="ngModel"
          ng-change="::service.saveValue(data.parentId, data.id, ngModel, data.guid);"
          ng-disabled="closed"
          ng-focus="::fieldFocused($event)"
          field-name
          ng-valid-time>
          <i class="icon ion-ios-clock-outline"></i>
      </label>
      <small ng-hide="subForm.$dirty && subForm.$invalid">{{::data.help}}</small>
      <div role="alert" ng-messages="subForm['field' + data.type +'' + data.id].$error" ng-if="subForm.$dirty" class="error-msg">
        <small ng-message="required"><span translate>This field is required</span></small>
        <small ng-message="mintime"><span translate>Time must be at least {{::mintimeValue | limitTo:5}}</span></small>
        <small ng-message="maxtime"><span translate>Time shouldn't be more then {{::maxtimeValue | limitTo:5}}</span></small>
      </div>
    </div>
  </ng-form>
</div>
