<div ng-if="show" class="htmldisp description control-wrapper" ng-class="{'empty': data.name == '' && data.props == ''}">
  <p class="field-label">{{::data.name}}</p>
  <p ng-bind-html="::data.html"></p>
  {{::data.hint}}
</div>
