<div class="control-wrapper" ng-if="show">
  <ng-form name="subForm" ng-class="{'error': subForm['field' + data.type +'' + data.id].$invalid && subForm.$dirty}">
    <div>
      <p class="field-label">{{::data.name}}
        <span ng-if="::required">*</span>
        <span class="hint" ng-click="::openPopover($event)" ng-if="::data.hint"><i class="icon ion-ios-information"></i></span>
      </p>
      <label class="item item-input">
        <input id="{{::data.guid}}"
          name="{{::'field' + data.type + data.id}}"
          type="date"
          ng-model="ngModel"
          ng-change="::service.saveValue(data.parentId, data.id, ngModel, data.guid)"
          ng-disabled="closed"
          ng-focus="::fieldFocused($event)"
          field-name
          ng-valid-date>
        <i class="icon ion-ios-calendar-outline"></i>
      </label>
      <small ng-hide="subForm.$dirty && subForm.$invalid">{{::data.help}}</small>
      <div ng-messages="subForm['field' + data.type + data.id].$error" role="alert" ng-if="subForm.$dirty" class="error-msg">
        <small ng-message="required"><span translate>This field is required</span></small>
        <small ng-message="mindate"><span translate>Date must be at least {{::mindateValue | date:'MM/dd/yyyy'}}</span></small>
        <small ng-message="maxdate"><span translate>Date shouldn't be more then {{::maxdateValue | date:'MM/dd/yyyy'}}</span></small>
      </div>
    </div>
  </ng-form>
</div>
