<div class="row row-center">
  <div class="col">
    <p class="popup-resultItem">
      {{::data.Label}}
    </p>
  </div>
  <div class="col" style="width: 100px; max-width: 100px; " data-tap-disabled="true">
    <button class="button button-default icon ion-ios-eye-outline" ng-click="view(r, $event)"></button>
    <button class="button button-custom icon ion-ios-checkmark-empty" ng-click="select(r)"></button>
  </div>
</div>
