<div class="control-wrapper" ng-if="show">
  <ng-form name="subForm" ng-class="{'error': subForm['field' + data.type +'' + data.id].$invalid && subForm.$dirty}">
    <div>
      <p class="field-label">{{::data.name}}
        <span ng-if="::required">*</span>
        <span class="hint" ng-click="::openPopover($event)" ng-if="::data.hint"><i class="icon ion-ios-information"></i></span>
      </p>
      <label>
        <input type="hidden"
               name="{{::'field' + data.type + data.id}}"
               ng-model="ngModel"
               ng-valid-checkbox />
        <ion-checkbox ng-repeat="item in ::data.dataSource"
                      id="{{::data.guid}}"
                      name="{{::'checkbox' + data.type +'' + data.id}}"
                      ng-model="item.Checked"
                      ng-change="::saveValue();"
                      ng-disabled="closed"
                      value="::item.Value"
                      field-name>
                      {{::item.Label}}
        </ion-checkbox>
      </label>
      <small ng-hide="subForm.$dirty && subForm.$invalid">{{::data.help}}</small>
      <div ng-messages="subForm['field' + data.type + data.id].$error" role="alert" ng-if="subForm.$dirty" class="error-msg">
        <small ng-message="required"><span translate>This field is required</span></small>
        <small ng-message="minvalues"><span translate>You should choose at least {{::minvalues}} option(s)</span></small>
        <small ng-message="maxvalues"><span translate>You should't choose more then {{::maxvalues}} option(s)</span></small>
      </div>
    </div>
  </ng-form>
</div>
