  <ion-header-bar class="bar bar-header bar-light" style="max-width: 100%; background: white;">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="backButton()" ng-show="results"></button>
    <h1 class="title">{{::data.name}}</h1>
    <button class="button button-icon icon ion-ios-close-empty" ng-click="closePopup()"></button>
  </ion-header-bar>
  <ion-content delegate-handle="localCall" class="has-header" ng-class="{'has-footer': !results || viewResoult}" style="max-width: 100%;">
    <ng-form name="searchForm" ng-if="!results && !loading">
      <p class="smallloccall" translate>
        With fields below you can limit your search results.
        If you just press the search button you will see all of your codeitems.
      </p>
      <div class="row">
        <div class="col">
          <p class="field-label" translate>Label</p>
          <label class="item item-input">
            <input id="label" name="label" ng-model="src['Label']" type="text">
          </label>
        </div>
      </div>
      <div ng-repeat="param in parameters" class="row">
        <div class="col">
          <p class="field-label">{{::param.Label}}</p>
          <label class="item item-input" ng-if="param.Type=='String'">
            <input id="{{::param.Name}}" name="{{::param.Name}}" ng-model="src[param.Name]" type="text">
          </label>
          <label class="toggle" ng-if="param.Type=='Boolean'">
            <input type="checkbox" id="{{::param.Name}}" name="{{::param.Name}}" ng-model="src[param.Name]" ng-true-value="'true'" ng-false-value="'false'">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
      </div>
    </ng-form>
    <ion-list ng-if="results && !viewResoult && !loading">
      <ion-item ng-repeat="r in results track by $index">
        <sf-result-item data="r" display="displayAttributes"></sf-result-item>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="infiniteEnabled && results && !viewResoult && !loading"
      distance="2%"
      immediate-check="true"
      on-infinite="loadMore()">
    </ion-infinite-scroll>
    <div style="text-align: center" ng-if="loading">
      <br />
      <br />
      <ion-spinner icon="spiral"></ion-spinner>
    </div>
    <div ng-if="viewResoult">
      <table style="width:100%" cellspacing="5">
        <tr>
          <td translate>Label</td>
          <td>{{::viewResoult.Label}}</td>
        </tr>
        <tr ng-repeat="atr in resultAttributes" ng-if="atr.Display==='true'">
          <td>{{::atr.Label}}</td>
          <td>{{::viewResoult[atr.Name]}}</td>
        </tr>
      </table>
    </div>
    <br />
  </ion-content>
  <ion-footer-bar ng-if="!results || viewResoult" align-title="left" class="bar" style="max-width: 100%;">
    <div class="col" ng-if="!(results || loading)">
      <button class="button button-block button-clear button-cancel" translate ng-click="closePopup()">Cancel</button>
    </div>
    <div class="col" ng-if="!(results || loading)">
      <button data-tap-disabled="true" class="button button-block button-custom" translate ng-click="search()">Search</button>
    </div>
    <div class="col" ng-if="viewResoult">
      <button class="button button-block button-custom" translate ng-click="select(viewResoult)">Select</button>
    </div>
  </ion-footer-bar>
