<ion-popover-view class="hint-popover fit">
  <ion-header-bar class="fit">
    <p>{{::data.name}} <span translate>help</span>:</p>
    <button class="fit button button-icon icon ion-ios-close-empty" ng-click="closePopover()"></button>
  </ion-header-bar>
  <ion-content>
    {{::data.hint}}
  </ion-content>
</ion-popover-view>
