<div class="list case-list">
  <div ng-if="!data.ProcedureImage" class="item item-image case-image img-card" ng-include="'js/case/directives/tpls/part.caseDrctContent.html'"
  style="background-image: url('img/placeholder.png')"></div>
  <div ng-if="data.ProcedureImage" class="item item-image case-image img-card" ng-include="'js/case/directives/tpls/part.caseDrctContent.html'"
  style="background-image: url('{{data.ProcedureImage}}');"></div>
  <div class="row button-row">
    <div class="col" ng-click="vm.editPreview(data)">
      <button ng-if="data.Closed === 0" class="button button-full button-clear">
        <i class="ion-ios-compose-outline"></i> <span translate>Edit</span>
      </button>
      <button ng-if="data.Closed === 1" class="button button-full button-clear">
        <i class="ion-ios-eye-outline"></i> <span translate>View</span>
      </button>
    </div>
    <div class="col" ng-click="vm.deleteCase(data)">
      <button class="button button-full button-clear">
        <span translate>Delete</span> <i class="ion-ios-trash-outline"></i>
      </button>
    </div>
  </div>
</div>
