<div class="control-wrapper" ng-if="show">
  <ng-form name="subForm" ng-class="{'error': subForm['field' + data.type + data.id].$invalid && subForm.$dirty}">
    <div>
      <p class="field-label">{{::data.name}}
        <span ng-if="::required">*</span>
        <span class="hint" ng-click="::openPopover($event)" ng-if="::data.hint"><i class="icon ion-ios-information"></i></span>
      </p>
      <label class="item item-input">
        <input
          id="{{::data.guid}}"
          name="{{::'field' + data.type + data.id}}"
          type="hidden"
          ng-model="::ngModel"
          ng-change="::saveValue(ngModel)"
          ng-valid-signature
          field-name>
        <div class="signature-image"  ng-if="ngModel">
          <img ng-src="{{ngModel}}">
        </div>
      </label>
      <div class="signature-buttons" ng-if="!closed">
        <button class="button button-custom" ng-click="::showPopup()"><i class="ion-edit"></i> <span translate>Sign</span></button>
        <button class="button button-light" ng-click="::clear($event)"><i class="ion-ios-trash-outline"></i> <span translate>Clear</span></button>
      </div>
      <small ng-hide="subForm.$dirty && subForm.$invalid">{{::data.help}}</small>
      <div ng-messages="subForm['field' + data.type + data.id].$error || subForm['field' + data.type + data.id].$invalid"
        role="alert" ng-if="subForm.$dirty">
        <div ng-message="required" class="error-msg"><small translate>This field is required</small></div>
      </div>
    </div>
  </ng-form>
</div>
