<div class="row-bottom case-description" x-apple-data-detectors="false">
    <div class="row case-data">
        <p x-apple-data-detectors="false">{{data.Name | characters:70 }}</p>
    </div>
    <div class="row row-date">
        <div class="col col-date">
            <p class="ion-ios-clock-outline text-left caseDateTime" style="">{{data.Created | date: 'shortTime'}}</p>
        </div>
        <div class="col col-date">
            <p class="ion-ios-calendar-outline text-center caseDateTime" style="">{{data.Created | date:'shortDate'}}</p>
        </div>
        <div class="col col-date">
          <p class="ion-ios-cloud-outline text-right caseDateTime" ng-if="case.Synced" translate>Synced</p>
          <p class="ion-ios-cloud-upload-outline text-right caseDateTime" ng-if="case.Closed === 1 && !case.Synced" translate>Closed</p>
          <p class="ion-ios-book-outline text-right caseDateTime" ng-if="case.Closed === 0" translate>Opened</p>
        </div>
    </div>
</div>
