  <ion-header-bar class="bar bar-header bar-light" style="max-width: 100%;">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="backButton()" ng-show="viewResult"></button>
    <h1 class="title">{{::data.name}}</h1>
    <button class="button button-icon icon ion-ios-close-empty" ng-click="closeTableData()"></button>
  </ion-header-bar>
  <ion-content class="has-header has-footer" style="max-width: 100%;">
    <ion-list ng-if="cs.values[data.guid].length && !viewResult">
      <ion-item ng-repeat="(index, r) in cs.values[data.guid] track by $index">
        <div class="row row-center">
          <div class="col">
            <span ng-repeat="(key, c) in first(r) track by $index" ng-bind-html="fieldValue(r, key)">
              {{fieldValue(r, key)}}
            </span>
          </div>
          <div class="col" style="width: 100px; max-width: 100px; ">
            <button class="button button-custom icon ion-ios-eye-outline" ng-click="view(r, $event)"></button>
            <button class="button button-default icon ion-trash-a" ng-click="deleteRow(index)" ng-disabled="closed"></button>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <div ng-if="viewResult">
     <table style="width:100%" cellspacing="5">
        <tr ng-repeat="c in data.table" ng-if="['header', 'subheader', 'html'].indexOf(c.type) === -1">
          <td>{{::c.name}}</td>
          <td ng-bind-html="::fieldValue(viewResult, c.guid)">{{::fieldValue(viewResult, c.guid)}}</td>
        </tr>
      </table>
    </div>
    <br />
  </ion-content>
  <ion-footer-bar align-title="left" class="bar" style="max-width: 100%;">
    <div class="col">
      <button class="button button-block button-default button-cancel" translate ng-click="closeTableData()">Close</button>
    </div>
  </ion-footer-bar>
