ion-popover-view.fit {
  height: 150px !important;
  ion-content-header.fit {
    height: auto;
  }
  ion-content.fit {
    overflow: auto;
  }
}

.case-page {
  .tabs-striped.tabs-background-positive .tabs {
    background-color: $smartLightGray;
    box-shadow: none;
    border-bottom: 1px solid $smartLightBorder;
    padding-top: 3px;
  }
  .tabs-top.tabs-striped .tab-item.active {
    border: none;
  }
  .tabs-striped.tabs-color-light .tab-item.active {
    color: #000;
    background-color: #fff;
    border-color: #E5E5E5;
    border-style: solid;
    border-width: 1px !important;
    border-bottom-color: #fff;
  }
  .tabs-striped.tabs-color-light .tab-item {
    color: rgba(0, 0, 0, 0.4);
    margin: 1px 3px 0px 3px;
  }
  .tabs .tab-item i {
    height: 100%;
    line-height: 100%;
  }
  .tabs .save-tab {
    background-color: #5FB878;
    border-color: #E5E5E5;
    border-style: solid;
    border-width: 1px !important;
    border-bottom-color: #5FB878;
    i {
      color: #fff;
    }
  }
  .tabs-top > .tabs,
  .tabs.tabs-top {
    top: 60px;
  }
  .has-tabs-top {
    top: 103px;
  }

  .hscroll {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    width: 100%;

    .tabscont {
      width: auto;
      left: 0;

      a {
        width : 45px;
        text-align: center;

        i {
          font-size: 20px;
          margin-top: 20% !important;
        }
      }
    }
  }

  .hscroll::-webkit-scrollbar {
    display: none;
  }

  .form-nav .error, .tabs .error {
    color: $smartRed !important;
  }
  /*.tabs-striped .tabs {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  }*/
  fieldset.disable-form {
    border: 0;
    margin: 0;
    padding: 0
  }

  select {
    line-height: 16px;
    height: 34px;
    width: 100%;
    font-size: 14px;
    border: none;
    background: #fff;
    padding-right: 24px !important;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: 0px;
    margin-right: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-appearance: none;
    border: none;
    box-shadow: none;
    outline: none;
    box-shadow: none !important;
  }
  .item-input {
    i.icon {
      position: absolute;
      right: 5px;
      z-index: 100;
    }
  }
  textarea {
    margin: 10px 0px;
  }

  .section {
    padding: 5px;
    margin-bottom: 8px;
    //border-bottom: 1px solid $smartLightBorder;
    //padding-left: 20px;

  }
  .section h4
  {
    border-bottom: 2px solid $smartDarkBorder;
    line-height: 1.6em;
    padding-bottom: 3px;
    margin-bottom: 3px;
    /*padding-left: 20px;
    margin-left: -20px;*/
  }

  .item-checkbox,
  .item-radio {
    .item-content {
      font-size: 14px;
      white-space: normal;
    }
    .checkbox input:before,
    .checkbox .checkbox-icon:before {
      border-color: $smartGreen;
    }
    .checkbox input:checked:before,
    .checkbox input:checked + .checkbox-icon:before {
      background: $smartGreen;
    }
    .radio-icon {
      color: $smartGreen;
    }
  }
  .input-item {
    min-height: 47px;
  }
  .row {
    padding: 0px;
  }
  .col {
    margin-bottom: 5px;
    padding: 0px;
    sf-header div h4 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    sf-subheader div p,
    sf-description div p {
      margin: 0px;
    }
    ng-form div {
      padding: 5px;

      &.table-row {
        padding: 0px;
      }

      &.error-msg {
        padding: 0px;
      }
    }


    .item-radio .item-content {
      padding: 16px 49px 16px 16px;
      padding-right: 64px;
    }
  }

  .description {
    padding: 5px;
  }

  ng-form small {
    color: $smartVeryDarkGray;
  }

  .error-msg small {
    color: $smartRed;
  }

  ng-form.error {
    .item {
      border-color: $smartRed;
    }
  }

  .foo {
    //height: 50px !important;
    background-color: $smartLightGray;
    border-top: 1px solid $smartLightBorder;
    .button {
      /*height: 45px !important;
      line-height: 32px;
      min-height: 31px;
      font-size: $button-custom-bar-button-font-size;*/

      .icon:before {
        line-height: 40px !important;
      }
    }
  }
  .case-content {
    margin-bottom: 55px;
    text-shadow: rgba(0,0,0,0) 0px 0px 0px;

    &.force-repaint {
      text-shadow: none;
    }
  }
  .table-row {
    padding: 0px;

    .table-col {
      padding: 0;
      margin-bottom: 0;
      div.row {
        padding: 0;
      }
    }

    &.error-table .table-col {
      border: 1px solid $smartRed;
    }

    .table-btn {
      padding: 5px 0 0 0 !important;
      .col {
        padding: 0;
        margin-bottom: 0;
      }
    }

    .button {
      i.icon {
        padding: 0;
      }
    }
  }
  .error-table {
    .table-col {
      //border: 1px solid $smartRed;
    }
  }
  .print-scroll {
    overflow: auto;
  }
  .scrollable-table {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .values-table {
    width: 99%;
    margin: 5px;
    tr {
      height: auto;
      line-height: 1.3em;
      th {
        white-space: nowrap;
      }
      td {
        padding: 5px 0 5px 5px;
        border: 1px solid $smartLightBorder;
        white-space: nowrap;
      }
      td:first-child {
        width: 50px;
        padding: 0 !important;
        margin: 0 !important;
        line-height: 160%;

        button i::before {
          line-height: 24px;
        }
      }
    }
    tr:first-child {
      background-color: $smartGreen;
      color: #fff;
      height: auto;
      th {
        text-align: left;
        padding: 5px 0 5px 5px;
      }
    }
    .button {
      border: none;
      background-color: transparent;
      min-height: 20px;
      height: 20px;
      width: 100%;
      padding: 0;

      i.icon {
        padding: 0;
      }
    }
  }

  .field-label {
    width: 100%;
    margin: 0 0 5px;

    .hint {
      float: right;

      .icon::before {
        color: $smartVeryDarkGray;
        font-size: 16px;
      }
    }
  }
}

.signaturePad .popup {
  width: 100%;
  max-width: 300px;
  background-color: #fff;

  .popup-title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 300;
  }
}

.signature-content {
  width: 100%;
}

.signature-canvas,
.signature-canvas canvas {
  border: 1px solid #ddd;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.signature-canvas canvas {
  max-height: 180px;
  border: none;
}

.signature-image {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.signature-buttons {

}

.signature-buttons button {
  display: inline-block;
  width: 100%;
  max-width: 49%;
}

@media all and (orientation: portrait) {
  .custom-menu {
    width: 0px;
    display: none;
  }
  .absolute-menu-fix {
    position: absolute !important;
    left: 0px;
  }
  .portrait_visibility {
    display: block;
  }
  .tab-fix {
    //position: fixed;
    left: 0px;
  }
  .navigation-footer {
    margin-left: 0px;
    .row {
      margin-right: 0px;
    }
  }
}

@media all and (orientation: landscape) {
  .custom-menu {
    width: 250px;
    background-color: $smartDarkGray;
    margin-bottom: 0px !important;
    border-right: 1px solid $smartLightBorder;
  }
  .absolute-menu-fix {
    position: absolute !important;
    left: 250px;
    top: 60px !important;
  }
  .portrait_visibility {
    display: none;
  }
  .navigation-footer {
    margin-left: 250px;
    .row {
      padding-right: 250px !important;
    }
  }
}

.form-nav {

  a {
    font-size: 14px;
    line-height: 20px;

    &.form {
      width: 200px;
      display: table-cell;
    }
    &.formicon {
      width: 100%;
    }
  }

  span.errors {
    display: table-cell;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    background-color: $smartRed;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
  }
}

.case-custom-page {
  background: #fff;
  .logo {
    /*background: $smartGreen;*/
    /*padding: 30% 0;*/

    height: 100%;
  }
  @media screen and (orientation: portrait) {
    .logo {
      padding: 20% 0;
    }
  }
  @media screen and (orientation: landscape) {
    .logo {
      padding: 6% 0;
    }
  }
  .logo img {
    width: 30%;
    max-width: 150px;
  }

  .reports {
    display: block;
    position: relative;

    .col-50 {
      width: 50%;
      display: block;
      float: left;
    }
  }

  .printitem {
    cursor: pointer;
    width: 98%;
    margin: 10px auto;
    position: relative;
    background: none;
    padding: 0 !important;
    border: solid 1px $smartDarkGray;
    border-radius: 3px;

    .report-description {
      padding: 10px;
    }

    .item-icon {
      width: 100px;
      position: relative;
      left: 0px !important;
      text-align: center !important;
      background: #f9f9f9;
      padding: 10px;
      border-left: 1px solid #eee;

      i {
        font-size: 50px;
        color: $smartGreen;
      }
      small {
        left: 0px !important;
        text-align: center !important;
      }
    }

    .elipsis-wrapper-div {
      width: 100% ;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .footer-tablet {
    width: 75%;
    float: right;
  }
}



.hint-popover {

  //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: none;
  border: 1px solid $smartLightBorder;

  .bar-header {
    border: none;
    height: 40px !important;
    padding: 10px;

    p {
      font-size: 16px;
      font-weight: 500;
      margin: 0px;
      line-height: 20px;
      margin-right: 40px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
    }

    .button-icon.icon::before {
        font-size: 52px !important;
        line-height: 40px !important;
    }
  }

  .has-header {
    top: 40px !important;
    padding: 10px;
  }
}

.popover-backdrop.active {
  background-color: rgba(0, 0, 0, 0);
}

.popup-api {

  .popup {
    width: 95%;
    max-width: 500px;
    height: 98%;
    border-radius: 0px !important;
    background-color: #fff;
  }

  .popup-head {
    padding: 0;
    border-bottom: none;
    height: 0;
    text-align: center;
  }

  .popup-body {
    padding: 3px;

    .item {
      padding: 0px 16px;

      .button.icon {
        border-radius: 0px;
        min-width: 47px;
        width: 47px;
        padding: 0px;

        &::before {
          font-size: 36px;
        }
      }
    }

    table {
      margin: 5px 0px;


      tr {
        border-bottom: 1px solid $smartDarkBorder;
        height: 69px;

        &:first-child {
          border-top: 1px solid $smartDarkBorder;
        }

        td {
          padding: 5px 20px;
          font-size: 16px;
          vertical-align: middle;
          line-height: 20px;

          &:first-child {
            width: 30%;
          }

          &:last-child {
            width: 70%;
          }
        }
      }
    }

    .bar {
      border: none;
      background: none;
      height: 60px;
      position: absolute;

      .title {
        color: #000;
        height: 60px;
        line-height: 60px;
      }

      .button-icon::before {
        line-height: 34px;
      }

    }

    .bar-footer {
      background-color: #fff;
      padding: 0px 5px;

      .col {
        padding: 0px 5px;

        .button {
          height: 47px;
          font-size: 16px;
        }

      }
    }
  }

}

/* = File Selector
 * ==================== */
.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.images-gallery {
  clear: both;

  .button.pull-left {
    float: left;
    margin-right: 10px;
  }
  .thumbnail {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 3px solid #ddd;
    padding: 3px;
    float: left;
    position: relative;
    margin-right: 10px;
    border-radius: 5px;

    .close {
      position: absolute;
      top: -10px;
      right: -10px;
      border-radius: 50%;
      background: #efefef;
      width: 24px;
      height: 24px;
      border: 1px solid #ddd;
      font-size: 22px;
      line-height: 22px;
      cursor: pointer;

      i {
        padding: 7px;
      }
    }
  }
}

/* = Finish Screen
 * ==================== */
.finish-button {
  margin-bottom: 30px;
}


/* = Inline Radio
 * ==================== */
.radio .radio-inline label.item-radio {
  display: inline-block !important;
}

.radio .radio-inline label.item-radio .item-content {
  padding: 5px 25px 5px 45px !important;
}


/* = Datepicker
 * ==================== */
.ionic-datepicker {
  padding-top: 0 !important;

  .today {
    background-color: rgb(232, 232, 232) !important;
  }

  .date_selected {
    background-color: #5FB878 !important;
    color: #fff;
  }

  .date_col:hover {
    background-color: #5FB878 !important;
    color: #fff;
    cursor: pointer;
  }
}

.popup-datepicker {
  .popup {
    background: #fff;
  }
  .popup-body {
    overflow: hidden;
  }

  .left_arrow > button,
  .right_arrow > button {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
  }

  input {
    padding-right: 0 !important;
  }
}

.popup-buttons {

  .button.datePickerColor {
    background-color: #5FB878 !important;
    color: #fff;
  }

}

.htmldisp{
  ul {
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  ol {
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  b {
    font-weight: bold;
  }

  u {
    text-decoration: underline;
  }

  i {
    font-style: italic;
  }
}

.keyboard-open .case-page .case-content {
  margin-bottom: 0 !important;
}

.popup-resultItem {
  color: black !important;
  font-size: 16px !important;
}
