.case-page {

  .content {
    margin-bottom: 10px;

    .row {
      padding: 0 5px;
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .row + .row {
      margin-top: -1px;
    }
  }

  /* Form control wrapper */
  .col.control {
    margin: 0;
    padding: 0;
    position: relative;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    .sf-element {
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

      -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;         /* OLD - Firefox 19- */
      -webkit-flex: 1;          /* Chrome */
      -ms-flex: 1;              /* IE 10 */
      flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

      width: 100%;
      height: 100%;
    }

    .control-wrapper {
      border: 1px solid #E5E5E5;
      padding: 5px 10px;
      -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;         /* OLD - Firefox 19- */
      width: 20%;               /* For old syntax, otherwise collapses. */
      -webkit-flex: 1;          /* Chrome */
      -ms-flex: 1;              /* IE 10 */
      flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

      &.empty {
        display: none;
      }
    }

    .field-label {
      color: #555;
      font-size: 13px;
    }

    /* Form control holder */
    label.item {
      border: none;
      border: none;
      padding: 0;
      color: #555;

      input, select, button {
        font-size: 20px;
        line-height: 30px;
        padding: 0 1px;
        border: none;
        text-align: left;
        min-height: 34px;
        border-bottom: 1px solid #f5f5f5;
        font-weight: 300;
        color: #111;
      }

      input:focus, select:focus, button:focus {
        font-size: 20px;
        line-height: 30px;
        padding: 0 1px;
        border: none;
        text-align: left;
        min-height: 34px;
        border-bottom: 1px solid #ccc;
      }

      textarea {
        min-height: 100px;
        height: auto;
        font-size: 20px;
        line-height: 24px;
        padding: 0 1px;
        border: none;
        text-align: left;
        border-bottom: 1px solid #f5f5f5;
        font-weight: 300;
        color: #111;
      }

      textarea:focus {
        min-height: 100px;
        height: auto;
        font-size: 20px;
        line-height: 24px;
        padding: 0 1px;
        border: none;
        text-align: left;
        border-bottom: 1px solid #ccc;
      }

      select {
        padding-right: 32px !important;
        margin-right: 5px !important;
      }

      &.item-checkbox .checkbox {
        display: inline-block;
        float: left;
        position: inherit;
        top: inherit;
        right: inherit;
        left: inherit;
        margin: 0;
      }

      &.item-checkbox .item-content,
      &.item-radio .item-content {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #111;
      }

      &.item-radio .item-content {
        padding: 5px 5px 5px 49px;
      }

      &.item-radio .radio-icon {
        color: #5FB878;
        font-size: 34px;
        padding: 0;
        line-height: 34px;
        left: 5px;
        visibility: visible;

      }
      &.item-radio input:checked ~ .item-content {
        background: none;
      }

      &.item-radio input:checked ~ .radio-icon:before {
        content: "\f400";
      }

      &.item-radio .radio-icon:before {
        content: "\f401"
      }

      i {
        font-size: 24px;
        padding: 0 8px;
      }

      i.checkbox-icon {
        padding: 0 !important;
      }
    }

    label.toggle {
      margin-bottom: 0;
      .track {
        margin: 5px 0 0 0;
      }
    }

    .toggle-text {
      /*font-size: 20px;*/
      font-size: 100%;
      line-height: 24px;
      font-weight: 300;
      color: #111;
      margin: 3px 0 0px 55px;
    }

    .toggle-text {
      width: initial;
    }

    sf-localcall button,
    sf-apicall button {
      margin: 5px 0 !important;
    }

    sf-date button,
    sf-time button {
      font-size: 20px;
      line-height: 24px;
      padding: 0 1px;
      border: none;
      text-align: left;
      min-height: 34px;
      border-bottom: 1px solid #f5f5f5;
      font-weight: 300;
      color: #111;
    }

    .error-msg.ng-active {
      border-top: 2px solid #C75C5C;
    }

    .scrollable-table {
      padding: 10px 0 5px 0 !important;

      .values-table {
        margin: 0;
        width: 99.9%;
      }
    }

  }

  /* Exceptions */

  .col.control + .col.control {
    margin: 0;
    @media screen and (max-width: $break-small) {
      margin-top: -1px;
    }

    .control-wrapper {
      border-left: none;

      @media screen and (max-width: $break-small) {
        border: 1px solid #E5E5E5;
      }
    }
  }

  .col.control.description,
  .col.control.header,
  .col.control.subheader {
    .control-wrapper {
      border: none;
      padding: 0;
      padding-bottom: 5px;
      margin: 0 5px 2px 5px;
      min-height: inherit;
    }
  }

  .col.control.header {
    .control-wrapper {
      margin: 2px 5px;
      padding: 15px 0 5px 0;
    }
  }

  .col.control.subheader {
    .control-wrapper {
      margin: 2px 5px;
      padding: 5px 0 5px 0;
    }
  }

  .col.control.email {
    .control-wrapper {
      border: none;
      padding: 0;
      padding-bottom: 5px;
      margin: 0 5px 2px 5px;
      min-height: inherit;

      ng-form > div {
        border: 1px solid #E5E5E5;
        padding: 5px 10px;
        margin: 0;
        margin-top: -1px;
      }
    }
  }

  .col.control.buttons {
    padding: 5px 0;
  }

  .buttons+.buttons {
    padding-left: 5px !important;
  }

}
