/*
home page
*/

.home_page {

  .col-date-left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75px;
    -moz-box-flex: 0;
    -moz-flex: 0 0 75px;
    -ms-flex: 0 0 75px;
    flex: 0 0 75px;
    max-width: 75px;

    div {
      width: 60px;
      height: 60px;
      //background-color: $smartDarkGray;
      text-align: center;

      p.date {
        font-size: 38px;
        font-weight: 300;
        line-height: 34px;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 0px;
      }
    }
  }

  p:before {
    margin-right: 5px;
  }

  .row {
    padding: 0px;
  }

  .item-options {

    .ion-option-button {
      display: table;
      width: 100%;
      height: 100%;
    }

    .view-button {
      display: table-cell;
      text-align: center;
      vertical-align: middle;

      h2 {
        color: #fff;
        margin-top: -5px;
        font-size: 16px;
      }

      .icon::before {
        font-size: 45px;
      }

      .icon {
        padding: 0px 15px;
      }
    }
  }

  .item {
    border-top: none;
  }

  .col-date {
    padding: 0px;
  }

  .col-status {
    padding: 0px;
    margin-top: 3px;
  }

  .block {
    text-align: center;

    /* May want to do this if there is risk the container may be narrower than the element inside */
    white-space: nowrap;
  }

   .scroll-refresher {
     position: absolute;
     top: -80px;
     right: 0;
     left: 0;
     overflow: hidden;
     margin: auto;
     height: 80px;
     background: $smartGreen;

     .ionic-refresher-content {
       color: #fff;
     }

     .active.refreshing .icon-refreshing,
     .active.refreshing .text-refreshing {
       padding: 2px;
     }

     .ionic-refresher-content .text-refreshing,
     .ionic-refresher-content .text-pulling {
       font-size: 13px;
     }
   }

   .custom-refresher {
     top: -80px;
     visibility: visible;

     .icon-refreshing, .text-refreshing {
       display: block;
     }
   }

   .custom-refresher-loading {
     top: 0px;
   }
}

.new_case_header {
  border-bottom: 1px solid $smartGreen;
  height: 60px;

  span {
    font-size: 20px;
  }

  button {
    top: 8px;
  }

  i {
    font-size: 20px;
  }
}

.popupCalendar{
  .popup{
    width:70%;
    height:60%;
    border-radius: 3px !important;
    background-color: #fff;
  }
  .popup-head {
    padding: 0;
    border-bottom: none;
    height: 0;
    text-align: center;
  }
}

.popup-full {
  .popup {
    width: 95%;
    height: 98%;
    border-radius: 0px !important;
    background-color: #fff;
  }

  .popup-head {
    padding: 0;
    border-bottom: none;
    height: 0;
    text-align: center;
  }

  .popup-body {
    padding: 3px;

    .bar {
      border: none;
      background: #fff;
      height: 60px;
      position: static;

      .title {
        color: #000;
        height: 60px;
        line-height: 60px;
      }

      .button-icon::before {
        line-height: 34px;
      }
    }

    .content {
      .list {
        .item {
          padding: 4px 0px;
          border-left: none;

          .img {
            width: 30px;
            height: 30px;
            background-position: center center;
            background-size: cover;
          }
        }

        .activated {
          background-color: $smartGreen;

          h2 {
            color: #fff;
          }
        }
        .item:not(:last-child) {
          border-bottom: none;
        }
      }
    }
  }
}

.platform-ios .title {
  line-height: 42px !important;
}

.platform-ios .popup .bar-header .title {
  margin-top: 5px !important;
}

.platform-ios .popup .popup-body .bar .button-icon {
  margin-top: 0px;
  line-height: 24px;
}

.item-input-wrapper {
  background: #fff;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
  height: 76px;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
  top: 76px;
}

.platform-ios.platform-cordova div.title.title-center.header-item {
  margin-top: 30px;
}

.case-list {
  border: 1px solid $smartLightBorder;

  .case-image {
    height:33vh;
    background-position: center center;
    background-size: cover;
    border: 1px solid $smartLightBorder;
    border-top: none;
  }

  .case-description {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    height: 110px;
    width: 100%;
  }

  .row-date {
    position: absolute;
    bottom: 0;
    line-height: 30px;
    padding: 10px;
  }

  .button-row {
    background-color: $smartLightGray;

    .col:first-child {
      border-right: 1px solid $smartLightBorder;
    }

    button {
      color: $smartVeryDarkGray;
    }
  }

  .case-data {
    padding: 10px;
    height: 70px;
    display: table;

    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      overflow: hidden;
      white-space: normal;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.flex-wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.middle {
  width: 100%;
  display: table;
  padding-top: 3px;
  color: $smartVeryDarkGray;


  ion-spinner {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    width: 45%;

    svg {
      width: 21px;
      height: 21px;
      stroke: $smartVeryDarkGray !important;

      .stop1 {
        stop-color: $smartVeryDarkGray;
      }

      .stop2 {
        stop-color: $smartVeryDarkGray;
      }
    }
  }

  span {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding-left: 2px;
  }
}

.middletab {
  width: 100%;
  display: table;
  padding-top: 5px;
  color: $smartVeryDarkGray;
  font-size: 17px;


  ion-spinner {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    width: 46%;

    svg {
      stroke: $smartVeryDarkGray !important;

      .stop1 {
        stop-color: $smartVeryDarkGray;
      }

      .stop2 {
        stop-color: $smartVeryDarkGray;
      }
    }
  }

  span {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding-left: 4px;
  }
}
