.loading-page {

  .logo {
    background: $smartGreen;
    /*padding: 30% 0;*/
    height: 100%;
  }

  @media screen and (orientation:portrait) {
    .logo {
      padding: 30% 0;
    }
  }

  @media screen and (orientation:landscape) {
    .logo {
      padding: 10% 0;
    }
  }

  .logo img {
    width: 50%;
    max-width: 250px;
  }

  .loading-content {
    height: 200px;

    .icon::before {
      font-size: 20px;
    }
  }
}

.loading-container {
  background: $smartGreen;
}
