/*
	login
*/

.main-login-page,
.signup-page {
  @include page-slogan();
  text-align: center;
  @include content-bg(cover, $white-color);
  .login-full-background {
    height: 100%;
    background: $smartGreen !important;

    display: table;
    position: absolute;
    height: 100vh;
    width: 100%;
  }
  .login-logo {
    background: $smartGreen;
    padding: 60% 0;
    height: 100%;
    @include transition(all, 0.5s, ease-in-out);
    img {
      width: 60%;
    }
  }
  .login-logo-input {
    //position: fixed;
    //top: 50%;
    //left: 50%;
    //-webkit-transform: translate(-50%, -50%);
    //transform: translate(-50%, -50%);
    display: table-cell;
    vertical-align: middle;
  }

  .login-logo-tablet {
    background: $smartGreen;
    padding: 0 0 10px 0;
    //height: 40%;
    //@include transition(all, 0.5s, ease-in-out);
    img {
      width: 60%;
      min-width: 500px;
      max-width: 600px;
    }
  }
  &.loaded .login-logo {
    padding: 10% 0;
    height: auto;
    img {
      width: 40%;
    }
  }
  .pseudo-link {
    color: $text-color-link;
    font-size: 15px;
    text-decoration: none;
  }
  .list-inset {
    width: 88%;
    margin: 20px auto;
    label.item-input {
      background: transparent;
      padding: 20px 10px;
    }
  }
  .list-inset-tablet {
    width: 50%;
    min-width: 400px;
    margin: 20px auto;
    label.item-input {
      background: $white-color;
      padding: 20px 10px;
      &.first {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
      &.last {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
  .button {
    width: 88%;
    height: 70px;
    margin: 5px auto;
    position: relative;
    padding: 0;
    background-position: cover;
    background: $smartGreen;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.5px;
    z-index: 2;
    /*border-radius: 5px;*/

    &.button-login-tablet {
      border: solid 1px $white-color;
      width: 50%;
      min-width: 400px;
      outline: none;
      border-radius: 4px;
    }
    &.button-signin {
      text-align: center;
      margin-bottom: 15px;
    }
    &.button-twitter {
      padding: 0 0 0 12%;
      &:before {
        @include inline-icons-bg(rgba(0, 0, 0, 0.5), 20%, 100%);
        background: $blue-shade-color-6;
      }
      &:after {
        @include inline-icons('../img/twitter-icon.png', 25px, 25px, 25%, 0, 0, 0, 9%);
        opacity: 0.3;
      }
    }
    &.button-instagram {
      padding: 0 0 0 12%;
      &:before {
        @include inline-icons-bg(rgba(0, 0, 0, 0.5), 20%, 100%);
        background: $blue-shade-color-5;
      }
      &:after {
        @include inline-icons('../img/instagram-icon.png', 30px, 30px, 25%, 0, 0, 0, 9%);
        opacity: 0.3;
      }
    }
  }
  .help-phone {
    a {
      color: $smartGreen;
    }
  }
  .help {
    color: $white-color;
    a {
      color: $dark;
    }
  }
}
