/*
	main css
*/

.main-page {
	@include page-slogan();
	@include content-bg(cover, #ffffff);

	text-align: center;

	&.home-bg{
		background: $smartGreen;
	}

	.logo{
		@include content-bg(contain,transparent);
		background-image: url('../img/logo.png');
		width:30%;
		height:20%;
		margin: 25% auto 25px auto;
		position: relative;
		z-index:2;
	}

	.slogan {
		font-size: 16px;
		color: #ffffff;
		position: relative;
		z-index:2;
	}

	.pseudo-link{
		color: rgba(255,255,255,1);
		font-size: 15px;
		text-decoration: none;
	}

	.button {
		width: 88%;
		height:56px;
		margin:10px auto;
		position:relative;
		padding:0;
		background-position: cover;
		text-transform: uppercase;
		font-size:16px;
		letter-spacing: 0.5px;
		z-index:2;
	}
}


.login-logo h1 {
  color: $white-color;
  font-weight: 300;

  span {
    font-weight: 700;
  }
}

a[href^=tel] {
	color: inherit;
	text-decoration:inherit;
	pointer-events: none;
}


.popup-body {
  h1.title {
    width: auto;
    left: 0;
    right: 50px;
  }
}
