.popup-full .popup-body sf-print .printPopup {

  ion-footer-bar.bar.bar-footer.bar-light {
    background: $smartLightGray;
    border-top: 1px solid $smartLightBorder;
    position: absolute;
  }
  .bar .title {
    text-align: center;
  }

  ion-content {
    width: 100%;
    display: block;
    text-align: center;

    .printpreview-content {
      //background-color: gray;
      top:60px;

      .iframe-content {
        //background-color: red;
        position: absolute;
      }
      &.printpreview-scroll {
        width: auto;
        height: auto;
      }
    }
  }
}
