
.settings_page {

  .form-name {
    border-bottom: 1px solid $smartLightBorder;
    padding: 0px 10px;
    margin-top: 15px;

    h2 {
      font-size: 18px;
    }
  }

  .list-inset {
    margin: 0px 10px;

    form {
      margin-bottom: 20px;

      .item {
        border-radius: 0px;
        height: 55px;
        border: 1px solid $smartLightBorder;

        &.error {
          border: 1px solid $smartRed;
        }
      }
      select {
        width: 100%;
        height: 55px;
        border: 1px solid $smartLightBorder;
        border-radius: 0px;
        padding: 5px 10px;
        background: #fff;
      }

      p {
        margin: 10px 0 0px;
      }

      .toggle {
        margin-top: 2px;
        margin-left: 2px;

        .toggle-text {
          display: inline;
        }
      }
    }
  }
}
