<ion-view class="case-page">
  <ion-nav-title>{{cs.c.name ? cs.c.name : cs.c.procedure.procedure.name}}</ion-nav-title>
  <form name="procedureForm" id="procedureForm">
  <fieldset class="disable-form" ng-disabled="cs.disableForm || cs.c.disableForm">
    <ion-header class="has-tabs-top">
      <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs hscroll">
          <div class="tabs tabscont">
            <a ng-repeat="fr in cs.c.procedure.forms track by fr.id" id="{{fr.id}}" class="tab-item"
               ng-class="{'active': fr.id == cs.c.current.form.id && !cs.saveStep && !cs.printStep, 'error': fr.valid == false}"
               ng-click="cs.selectForm(fr.id)" ng-if="cs.showForm(fr)">
              <small ng-if="::fr.type == 1">{{::fr.order}}</small>
              <i ng-if="::fr.type == 3" class="icon ion-ios-email-outline"></i>
            </a>
            <a ng-if="cs.hasReports()" id="saveStep" class="tab-item" ng-class="{'active': cs.printStep}" ng-click="cs.goToPrintStep()">
              <i class="icon ion-ios-printer-outline"></i>
            </a>
            <a class="tab-item" id="printStep" ng-class="{'active': cs.saveStep}" ng-click="cs.goToSaveStep()">
              <i class="icon ion-ios-checkmark-outline"></i>
            </a>
          </div>
        </div>
      </div>
    </ion-header>

    <div ng-if="!(printStep && saveStep)">
      <ion-content delegate-handle="caseContent" class="has-tabs-top case-content">
        <div class="content padding" ng-repeat="s in cs.c.current.form.sections track by s.id" ng-if="cs.showSection(s)">
          <div class="section">
            <h4>{{::s.name}}</h4>
            <small>{{::s.desc.substring(1, s.desc.length - 1)}}</small>
          </div>

          <plugify plugin="s.fields" section="s.id" form="cs.c.current.form.id" parent="0"></plugify>
        </div>
      </ion-content>
    </div>

    <div ng-if="cs.printStep">
      <ion-content class="has-tabs-top padding content-bg case-custom-page case-content">
        <div class="section">
          <h4 translate>Available Case Documents</h4>
          <small ng-if="!cs.c.closed" translate>This case is not yet closed. This means that all of the available documents will have a "Preview" watermark visible if you print or preview them. To remove the watermark, go to Finish step and close the case.</small>
        </div>
        <div id="divPrintItem_{{$index}}" name="divPrintItem_{{$index}}" class="row printitem" ng-repeat="report in cs.c.reports track by report.idProcedureReport"
        ng-click="cs.openPrint(report)">
          <div class="col margin-left">
            <h4>{{::report.label}}</h4>
            <div class="elipsis-wrapper-div"><small>{{::report.description}}</small>
            </div>
          </div>
          <div class="item-icon">
            <div class="row">
              <div class="col"><i class="icon ion-ios-printer"></i>
              </div>
            </div>
            <div class="row">
              <div class="col"><small translate>PRINT</small>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </div>

    <div ng-if="cs.saveStep">
      <ion-content class="has-tabs-top case-custom-page content-bg padding  case-content">
        <div class="section">
          <h4 translate>Finish Case</h4>
          <small ng-if="!cs.c.closed" translate>If you want to print the documentation without the "Preview" watermark, you must close this case first. By closing this case, no further editing is possible to ensure data integrity.</small>
        </div>
        <div class="buttons">
          <div class="finish-button">
            <button id="login" name="btnSaveReport" type="button" ng-click="cs.closeCase()" ng-disabled="cs.isClosed()" class="button button-block button-custom" translate>Close case</button>
            <div ng-if="!cs.c.closed" class="text-center"><small translate>No further editing is possible once you close this case.</small></div>
          </div>

          <div class="finish-button" ng-if="cs.c.reports.length > 0">
            <button id="login" name="btnSave" type="button" ng-click="cs.goToPrintStep()" class="button button-block button-custom button-outline" translate>Go to documents</button>
            <div ng-if="!cs.c.closed" class="text-center"><small translate>Go back to available documents step.</small></div>
          </div>

          <div class="finish-button">
            <button id="login" name="btnDraft" type="button" ng-click="cs.toHome()" class="button button-block button-custom button-outline" translate>Go to home page</button>
            <div ng-if="!cs.c.closed" class="text-center"><small translate>Case is saved as draft and you can continue to edit it anytime.</small></div>
          </div>
          <br/><br/>
        </div>
      </ion-content>
    </div>

    <div class="bar bar-footer bar-green foo hide-on-keyboard-open">
      <div class="row">
        <div class="col">
          <button class="button button-clear button-full" style="text-align: left;" ng-click="cs.back()" ng-show="cs.hasPrev">
            <i class="icon ion-ios-arrow-left"></i>
          </button>
        </div>
        <div class="col">
          <button class="button button-clear button-full" style="text-align: right;" ng-click="cs.next()" ng-show="cs.hasNext">
            <i class="icon ion-ios-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </fieldset>
  </form>
</ion-view>
