<ion-view >
  <ion-nav-title>{{'Settings' | translate}}</ion-nav-title>
    <ion-content class="settings_page">
        <div class="form-name">
            <h2 translate>API_ACCESS_SETTINGS</h2>
        </div>
        <div class="list list-inset">
            <form novalidate name="testAPIform">
                <p translate>EMAIL</p>
                <label class="item item-input">
                  <i class="icon ion-ios-email-outline"></i>
                    <input id="email" type="email" ng-model="apiAccess.email" ng-required="true" ng-disabled="true"></input>
                </label>
                <p translate>PASSWORD</p>
                <label class="item item-input" ng-class="{error: testAPIform.password.$invalid && testAPIform.$dirty}">
                   <i class="icon ion-ios-locked-outline"></i>
                    <input
                        id="password"
                        name="password"
                        type="password"
                        ng-model="apiAccess.password"
                        ng-required="true"
                        ng-minlength="8"
                        ng-disabled="true"
                        ng-change="changePassword()"
                        debounce="500"></input>
                </label>
            </form>
            <button class="button button-block button-outline button-custom" ng-disabled="testAPIform.$invalid" ng-click="checkAPIConnection()"
            translate>TEST_API_CONNECTION</button>
        </div>
        <div class="form-name">
            <h2 translate>PERSONAL_SETTINGS</h2>
        </div>
        <div class="list list-inset">
            <form name="personal-settings" novalidate>
                <p translate>TIMEZONE</p>
                <label>
                    <select ng-model="selectedTime" ng-options="tz.offset + ' (' + tz.value + ')' for tz in timeZones" ng-change="updateTimeZone(selectedTime)"></select>
                </label>
                <p translate>LANGUAGE</p>
                <label>
                    <select ng-model="selectedLanguage" ng-options="language.name for language in languages" ng-change="updateLanguage(selectedLanguage)"></select>
                </label>
                <p translate ng-if="isTablet">Thumbnail</p>
                <label class="toggle" ng-if="isTablet">
                   <input type="checkbox"
                          ng-model="thumbnail"
                          ng-change="updateThumbnail(thumbnail)">
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                   <span class="toggle-text" translate>Show as thumbnail</span>
                </label>
            </form>
        </div>
        <div class="form-name">
          <h2 translate>Change password</h2>
        </div>
        <div class="list list-inset">
          <form name="changePwdForm" novalidate id="changePwdForm">
            <p translate>New password</p>
            <label class="item item-input" ng-class="{error: changePwdForm.password.$invalid && !changePwdForm.password.$pristine}">
               <i class="icon ion-ios-locked-outline"></i>
              <input type="password"
                     placeholder="{{ 'Password' | translate }}"
                     name="password"
                     id="pw1"
                     ng-model="newPwd.password"
                     ng-minlength="8"
                     ng-required="true"
                     debounce="500">
            </label>
            <p translate>Repeat password</p>
            <label class="item item-input" ng-class="{error: changePwdForm.password2.$invalid && !changePwdForm.password.$pristine}">
              <i class="icon ion-ios-locked-outline"></i>
              <input type="password"
                     placeholder="{{ 'Repeat Password' | translate }}"
                     name="password2"
                     id="pw2"
                     ng-model="newPwd.password2"
                     ng-minlength="8"
                     pw-check="pw1"
                     ng-required="true"
                     debounce="500">
            </label>
          </form>
          <button class="button button-block button-outline button-custom"
                  ng-click="changePwd()"
                  ng-disabled="(changePwdForm.$dirty && changePwdForm.$invalid) || changePwdForm.$pristine"
                  translate>Change password</button>
        </div>
        <div class="form-name">
          <h2 translate>Clear database</h2>
        </div>
        <div class="list list-inset">
            <button class="button button-block button-outline button-custom" ng-click="clearDB()" translate>
                CLEAR_DB
            </button>
        </div>
    </ion-content>
</ion-view>
