<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no"/>
    <title>MightyFields</title>

    <!-- <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet"> -->

    <!-- htmlbuild:css -->
      <link rel="stylesheet" href="lib/sweetalert/dist/sweetalert.css"/>
      <link rel="stylesheet" href="css/custom.app.css"/>
    <!-- endbuild -->
</head>

<body ng-app="SmartForms">
   <ion-nav-view></ion-nav-view>

  <script>
    // Global debug flag
    // Set this to TRUE when developing
    window.mfDebug = true;

    //var baseURL = 'http://10.20.8.5:5002/v1'; // Leon's office host
    //var baseURL = 'http://10.20.8.52:5002/v1'; // Adrian's office host
    //var baseURL = 'http://10.20.8.33:5002/v1'; // Marko's office host
    //var baseURL = 'http://localhost:5002/v1'; // Localhost
    //var baseURL = 'http://192.168.0.103:5002/v1'; // Leon home
    //var baseURL = 'https://sync.mightyfields.com/v1'; // Cloud
    var baseURL = 'https://unstable-sync.mightyfields.com/v1'; // unstableCloud

    window.mfLang = 'en';

    // If we are in production, prevent logging to console
    if (window.mfDebug == false) {
      var baseURL = 'https://sync.mightyfields.com/v1';

      var console = {};
          console.log = function(){};
          console.error = function(){};

      window.console = console;
    }
  </script>

  <!-- htmlbuild:js -->
    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="lib/ionic/js/ionic.bundle.js"></script>
    <!--<script type="text/javascript" src="lib/angular/angular.min.js"></script>-->
    <script type="text/javascript" src="lib/angular-ios9-uiwebview-patch/angular-ios9-uiwebview-patch.js"></script>
    <script type="text/javascript" src="lib/devicejs/lib/device.min.js"></script>
    <script type="text/javascript" src="lib/signature_pad/signature_pad.min.js"></script>

    <!-- forge js -->
    <script type="text/javascript" src="lib/forge-min/forge.min.js"></script>

    <!-- data -->
    <script type="text/javascript" src="lib/moment/moment.js"></script>
    <script type="text/javascript" src="lib/blueimp-md5/js/md5.js"></script>

    <!-- language -->
    <script type="text/javascript" src="lib/angular-gettext/dist/angular-gettext.min.js"></script>

    <!-- libs -->
    <script type="text/javascript" src="lib/underscore/underscore.js"></script>
    <script type="text/javascript" src="lib/angular-underscore-module/angular-underscore-module.js"></script>
    <script type="text/javascript" src="lib/ng-debounce/angular-debounce.js"></script>
    <script type="text/javascript" src="lib/angular-filter/dist/angular-filter.min.js"></script>
    <script type="text/javascript" src="lib/angular-ui-mask/dist/mask.min.js"></script>
    <script type="text/javascript" src="lib/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="lib/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="lib/angular-sweetalert/SweetAlert.min.js"></script>
    <script type="text/javascript" src="lib/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
    <script type="text/javascript" src="lib/quick-ng-repeat/quick-ng-repeat.js"></script>
    <script type="text/javascript" src="lib/angular-truncate/src/truncate.js"></script>
    <script type="text/javascript" src="lib/angular-dynamic-locale/dist/tmhDynamicLocale.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script type="text/javascript" src="lib/ngCordova/dist/ng-cordova.min.js"></script>

    <!-- your app's js -->
    <script type="text/javascript" src="js/app.js"></script>

    <!-- controllers -->
    <script type="text/javascript" src="js/app/app.controller.js"></script>
    <script type="text/javascript" src="js/auth/auth.controller.js"></script>
    <script type="text/javascript" src="js/home/home.controller.js"></script>
    <script type="text/javascript" src="js/case/case.controller.js"></script>
    <script type="text/javascript" src="js/settings/settings.controller.js"></script>
    <script type="text/javascript" src="js/loading.controller.js"></script>
    <script type="text/javascript" src="js/case/print/print.controller.js"></script>

    <!-- services -->
    <script type="text/javascript" src="js/auth/auth.service.js"></script>
    <script type="text/javascript" src="js/home/home.service.js"></script>
    <script type="text/javascript" src="js/case/case.service.js"></script>
    <script type="text/javascript" src="js/case/current.service.js"></script>
    <script type="text/javascript" src="js/settings/settings.service.js"></script>
    <script type="text/javascript" src="js/app/sync.service.js"></script>
    <script type="text/javascript" src="js/case/print/print.service.js"></script>


    <!-- common services -->
    <script type="text/javascript" src="js/common/constants.js"></script>
    <script type="text/javascript" src="js/common/network.js"></script>
    <script type="text/javascript" src="js/common/dbconnection.js"></script>
    <script type="text/javascript" src="js/common/cipher.js"></script>
    <script type="text/javascript" src="js/common/error.js"></script>
    <script type="text/javascript" src="js/common/filecontroller.js"></script>

    <!-- directives -->
    <script type="text/javascript" src="js/case/directives/drct.module.js"></script>
    <script type="text/javascript" src="js/case/directives/utils.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.fieldName.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.plugify.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.input.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.hidden.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.dropdown.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.toggle.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.date.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.time.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.textarea.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.header.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.subheader.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.description.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.html.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.selectpicker.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.signature.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.sigPopup.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.checkbox.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.radio.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.table.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.barcode.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.gps.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.email.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.file.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.apicall.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.localcall.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.apiResultItem.js"></script>
    <script type="text/javascript" src="js/case/print/print.directive.js"></script>
    <script type="text/javascript" src="js/case/directives/drct.case.js"></script>
    <script type="text/javascript" src="js/case/image.service.js"></script>
    <script type="text/javascript" src="js/common/directives/drct.multipleemails.js"></script>
    <script type="text/javascript" src="js/common/directives/drct.ngmodelformat.js"></script>
    <script type="text/javascript" src="js/common/directives/drct.keyboardnext.js"></script>
    <script type="text/javascript" src="js/common/directives/drct.passwordcheck.js"></script>

    <!-- validations -->
    <script type="text/javascript" src="js/case/directives/validations/drct.ngValidInput.js"></script>
    <script type="text/javascript" src="js/case/directives/validations/drct.ngValidDate.js"></script>
    <script type="text/javascript" src="js/case/directives/validations/drct.ngValidTime.js"></script>
    <script type="text/javascript" src="js/case/directives/validations/drct.ngValidDropdown.js"></script>
    <script type="text/javascript" src="js/case/directives/validations/drct.ngValidCheckbox.js"></script>
    <script type="text/javascript" src="js/case/directives/validations/drct.ngValidRadio.js"></script>
    <script type="text/javascript" src="js/case/directives/validations/drct.ngValidSignature.js"></script>
    <script type="text/javascript" src="js/case/directives/validations/drct.ngValidTable.js"></script>

    <!-- filters -->
    <script type="text/javascript" src="js/components/filters/filter.module.js"></script>
    <script type="text/javascript" src="js/components/filters/filter.startfrom.js"></script>
    <script type="text/javascript" src="js/components/filters/filter.inrange.js"></script>
    <script type="text/javascript" src="js/components/filters/filter.sortFields.js"></script>
    <script type="text/javascript" src="js/components/filters/filter.group.js"></script>

    <!-- models -->
    <script type="text/javascript" src="js/models/user.js"></script>
    <script type="text/javascript" src="js/models/collection.js"></script>

    <!-- components -->
    <script type="text/javascript" src="js/components/interceptor/http-interceptor.js"></script>

    <script type="text/javascript" src="js/translations/en.js"></script>
    <script type="text/javascript" src="js/translations/sl_SI.js"></script>
  <!-- endbuild -->

    <script type="text/javascript" src="cordova.js"></script>

</body>

</html>
