<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MightyFields Account Password Has Been Changed</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
					<tr>
						<td class="alert alert-mf aligncenter">
							<img width="240" height="42" alt="MightyFields Logo" src="http://www.mightyfields.com/wp-content/uploads/2016/01/logo.png" />
						</td>
					</tr>
					<tr>
						<td class="content-wrap">
							<meta itemprop="name" content="Confirm Email"/>
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="content-block">
										Hello {{user.firstName}} {{user.lastName}},
									</td>
								</tr>
								<tr>
									<td class="content-block">
										This is a confirmation that the password for your MightyFields account {{user.email}} has just been changed.
									</td>
								</tr>
								<tr>
									<td class="content-block">
										&mdash; The MightyFields Team
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>
							<td class="aligncenter content-block">Visit out website <a href="https://www.mightyfields.com">www.mightyfields.com</a>.</td>
						</tr>
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
