<ion-view hide-nav-bar="true">
  <ion-content class="main-login-page overlay-content login-full-background" scroll="true">

    <div class="login-full-background">

      <form name="loginform" class="login-logo-input" ng-submit="resetPwd()" novalidate>

        <!-- Logo -->
        <div class="login-logo-tablet text-center">
          <h1><img src="img/logo-white-long.png"></h1>
        </div>
        <!-- /Logo -->

        <div class="list list-inset-tablet">
          <label class="item item-input first">
            <i class="icon ion-ios-email-outline"></i>
            <input id="email"
                   type="email"
                   placeholder="{{'Email' | translate}}"
                   name="email"
                   ng-model="forgot.email"
                   ng-focus="scrollTop()"
                   required
                   ng-minlength="5">
          </label>

          <button id="reset"
                  name="btnResetPwd"
                  type="submit"
                  class="button button-full button-custom button-login-tablet"
                  ng-disabled="loginform.$invalid"
                  translate>
                  Reset password
          </button>
      </form>
      <button name="goBack"
              type="button"
              class="button button-full button-custom button-login-tablet"
              ng-click="navigateTo('app.auth')"
              translate>
              Go back
      </button>
    </div>
  </ion-content>
</ion-view>
