<ion-view hide-nav-bar="true">
  <ion-content class="main-login-page content-bg overlay-content green" ng-class="{'loaded': true}" scroll="false">
    <!-- Logo -->
    <div class="login-logo text-center">
      <h1><img src="img/logo_white.png"></h1>
    </div>
    <!-- /Logo -->

    <form name="loginform"
          ng-submit="resetPwd()"
          novalidate>

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-ios-email-outline"></i>
            <input id="email"
                   type="email"
                   placeholder="{{'Email' | translate}}"
                   name="email"
                   ng-model="forgot.email"
                   ng-focus="scrollTop()"
                   required
                   ng-minlength="5">
        </label>
      </div>

      <button id="reset"
              name="btnResetPwd"
              type="submit"
              class="button button-full button-custom"
              ng-disabled="loginform.$invalid"
              translate>
              Reset password
      </button>
    </form>
  </ion-content>
  <ion-footer-bar>
    <button name="goBack"
            class="button button-full button-custom"
            ng-click="navigateTo('app.auth')"
            translate>
            Go back
    </button>
  </ion-footer-bar>
</ion-view>
