<ion-view hide-nav-bar="true">
  <ion-content class="main-login-page overlay-content login-full-background" scroll="true">

    <div class="login-full-background">

      <form name="loginform" class="login-logo-input" ng-submit="authenticateUser()" novalidate>

        <!-- Logo -->
        <div class="login-logo-tablet text-center">
          <h1><img src="img/logo-white-long.png"></h1>
        </div>
        <!-- /Logo -->

        <div class="list list-inset-tablet">
          <label class="item item-input first">
            <i class="icon ion-ios-email-outline"></i>
            <input id="email" type="email" placeholder="{{email}}" name="email" ng-model="user.email" ng-focus="scrollTop()" required ng-minlength="5">
          </label>

          <label class="item item-input">
            <i class="icon ion-ios-locked-outline"></i>
            <input id="password" type="password" placeholder="{{password}}" name="password" ng-model="user.password" ng-required="true" ng-minlength="8">
          </label>
        </div>

        <button id="login" name="btnSignIn" type="submit" class="button button-full button-custom button-login-tablet" ng-disabled="loginform.$invalid" translate>
          SIGN_IN
        </button>
        <div class="help">
          <a ng-click="navigateTo('app.auth.forgot');" translate>Forgot password?</a>
          <p translate>
            Having trouble using this application?
            <br>
            Visit our <a href="http://www.mightyfields.com/contact/">webpage</a>
            or contatct us at: <a href="mailto:info@mightyfields.com?Subject=Troubles%20with%20mobile%20application">info@mightyfields.com</a>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
