<ion-view title="Sign Up">
    <ion-content class="signup-page content-bg has-header" scroll="false">
        <div class="list">
            <label class="item item-input username">
                <input type="text" placeholder="Username" ng-model="user.username">
            </label>
            <label class="item item-input email">
                <input type="text" placeholder="Email" ng-model="user.email">
            </label>
            <label class="item item-input lock">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        </div>
        <button class="button button-blue" ng-click="registerUser()">SIGN UP</button>
    </ion-content>
</ion-view>