<div class="panel panel-default">
  <div class="panel-heading" translate>
    Company data
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-xs-12" ng-class="{ 'has-error': addForm.company.$invalid && !addForm.company.$pristine }">
        <label for="company"><span translate>Company</span>: *</label>
        <input id="company" name="company" ng-disabled="settings.disableCompany" type="text" ng-model="settings.account.company" class="form-control" required ng-minlength="2">
      </div>

      <div class="form-group col-xs-12" ng-class="{ 'has-error': addForm.address.$invalid && !addForm.address.$pristine }">
      	<label for="address"><span translate>Address</span>: *</label>
        <input type="text" name="address" ng-disabled="settings.disableCompany" id="address" ng-model="settings.account.address" class="form-control" required ng-minlength="2"></input>
      </div>

      <div class="form-group col-xs-6" ng-class="{ 'has-error': addForm.city.$invalid && !addForm.city.$pristine }">
      	<label for="city"><span translate>City</span>: *</label>
        <input type="text" name="city" ng-disabled="settings.disableCompany" id="city" ng-model="settings.account.city" class="form-control" required ng-minlength="2"></input>
      </div>

      <div class="form-group col-xs-6" ng-class="{ 'has-error': addForm.post.$invalid && !addForm.post.$pristine }">
      	<label for="post"><span translate>Post</span>: *</label>
        <input type="text" name="post" ng-disabled="settings.disableCompany" id="post" ng-model="settings.account.post" class="form-control" required ng-minlength="2"></input>
      </div>

      <div class="form-group col-xs-12" ng-class="{ 'has-error': addForm.country.$invalid && !addForm.country.$pristine }">
      	<label for="country"><span translate>Country</span>: *</label>
        <select name="country" ng-disabled="settings.disableCompany" id="country" ng-model="settings.account.country" class="form-control" required ng-options="c.id as c.label for c in settings.c.countries"></select>
      </div>

      <div class="form-group col-xs-6" ng-class="{ 'has-error': addForm.phone.$invalid && !addForm.phone.$pristine }">
      	<label for="country"><span translate>Phone</span>:</label>
        <input type="text" name="phone" ng-disabled="settings.disableCompany" id="phone" ng-model="settings.account.phone" class="form-control"></input>
      </div>

      <div class="form-group col-xs-6" ng-class="{ 'has-error': addForm.email.$invalid && !addForm.email.$pristine }">
      	<label for="country"><span translate>Email</span>:</label>
        <input type="email" name="email" ng-disabled="settings.disableCompany" id="email" ng-model="settings.account.email" class="form-control"></input>
      </div>
    </div>
    <span class="form-group col-xs-12 small" translate>For company changes please contact support.</span>
    <div class="clearfix spacer"></div>
  </div>
</div>
