<div id="footer" class="row">
  <div class="col-sm-3">
    <!--<button class="btn btn-link pull-left" type="button" ng-click="settings.cancel()" translate>Cancel</button> -->
  </div>
  <div class="col-sm-6 text-center"></div>
  <div class="col-sm-3 text-right">
    <button class="btn btn-primary pull-right" type="button" ng-click="settings.save()" ng-disabled="(addForm.$dirty && addForm.$invalid) || addForm.$pristine" translate>Save</button>
  </div>
</div>
