<div class="panel panel-default">
  <div class="panel-heading" translate>
    License info
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-xs-12" ng-if="settings.account.license.users > 0">
        <span translate>Your license can support</span> {{settings.account.license.users}}
        <span ng-if="settings.account.license.users === 1" translate>user</span>
        <span ng-if="settings.account.license.users === 2" translate>2users</span>
        <span ng-if="settings.account.license.users > 2 && settings.account.license.users < 5" translate>3users</span>
        <span ng-if="settings.account.license.users > 4" translate>users</span>
      </div>
      <div class="form-group col-xs-12" ng-if="settings.account.license.users === 0" translate>
        Your license doesn't support any users.
      </div>
      <div class="form-group col-xs-12" ng-if="settings.account.license.active > 0">
        <span translate>You have</span> {{settings.account.license.active}}
        <span ng-if="settings.account.license.active === 1" translate>active user</span>
        <span ng-if="settings.account.license.active === 2" translate>2active users</span>
        <span ng-if="settings.account.license.active > 2 && settings.account.license.active < 5" translate>3active users</span>
        <span ng-if="settings.account.license.active > 4" translate>active users</span>
      </div>
      <div class="form-group col-xs-12" ng-if="settings.account.license.active === 0" translate>
        You don't have any active users.
      </div>
      <div class="form-group col-xs-12" ng-if="(settings.account.license.users - settings.account.license.active) > 0">
        <span translate>You can add</span> {{settings.account.license.users - settings.account.license.active}}
        <span ng-if="(settings.account.license.users - settings.account.license.active) === 1" translate>more user</span>
        <span ng-if="(settings.account.license.users - settings.account.license.active) === 2" translate>2more users</span>
        <span ng-if="(settings.account.license.users - settings.account.license.active) > 2 && (settings.account.license.users - settings.account.license.active) < 5" translate>3more users</span>
        <span ng-if="(settings.account.license.users - settings.account.license.active) > 4" translate>more users</span>
      </div>
      <div class="form-group col-xs-12" ng-if="(settings.account.license.users - settings.account.license.active) === 0" translate>
        You can't add new users.
      </div>
    </div>
  </div>
</div>
