<div class="panel panel-default">
  <div class="panel-heading" translate>
    Account settings
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="language"><span translate>Account language</span>: *</label>
        <select name="language" id="language" ng-model="settings.account.language" class="form-control" required ng-options="c.gt as c.label for c in settings.c.languages" ng-change="settings.langChange(settings.account.language)"></select>
      </div>

      <div class="form-group col-xs-12">
      	<label for="address"><span translate>Date Format</span>: *</label>
        <select name="dateFormat" id="dateFormat" ng-model="settings.account.dateFormat" class="form-control" required ng-options="d.format as d.format for d in settings.c.dateformats"></select>
      </div>

      <div class="form-group col-xs-12">
      	<label for="address"><span translate>Date Example</span></label>
      	<h4 class="well">{{ main.getDate('', settings.account.dateFormat) }}</h4>
        <p></p>
      </div>
    </div>
  </div>
</div>
