.auth:before {
  background-image: url("../../images/mf_background.jpg");
}

.auth:before {
  position: fixed;
  top: 0;
  left: 0;
  right: 470px;
  height: 100%;
  content: '';
  background-position: center top;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.auth:after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(38, 50, 56, .4);
}

.login-page {
  height: 100%;
}

.page {
  height: 100%;
  padding: 0;
  margin: 0!important;
  background-color: transparent;
  position: relative;
  min-height: -webkit-calc(100% - 44px);
  min-height: calc(100% - 44px);
}

.login-page .page-content {
  padding: 34px;  
}

.login-page .page-brand-info {
  margin: 190px 100px 0 90px;
}

.login-page .page-brand-info .brand {
  margin-bottom: 21px;
}

.login-page .page-brand-info .brand-text {
  font-size: 34px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin: 13px 0 13px 21px;
  vertical-align: middle;
}
.login-page .page-brand-info p {
  max-width: 650px;
  opacity: .8;
  font-weight: 300;
  font-size: 21px;
  color: #fff;
}

.login-page .page-login-main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: auto;
  min-height: 100%;
  padding: 120px 60px 120px;
  color: #76838f;
  background: #fff;
}

.login-page form {
  width: 350px;
  margin: 34px 0 21px;
}

.login-page form > button {
  margin-top: 34px;
}

.login-page footer {
  font-size: 13px;
  color: #37474f;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 60px;
  margin: 34px 0;
  text-align: center;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

@media screen and (min-width: 992px) {
  .auth:before {
    right: 470px;
  }
  .login-page .page-content {
    padding-right: 500px;
  }
}
@media screen and (max-width: 767px) {
  .auth .page-login-main {
    width: 100%;
    padding-top: 60px;
  }
}