<!-- public/views/authView.html -->

<div class="col-sm-4 col-sm-offset-4">
  <div class="well">
    <h3 translate>Register</h3>

    <form>
      <div class="row">
        <div class="form-group col-xs-12">
          <input type="text" class="form-control" placeholder="{{ 'Company' | translate }}" ng-model="auth.register.company">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12">
          <input type="text" class="form-control" placeholder="{{ 'Address' | translate }}" ng-model="auth.register.address">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" placeholder="{{ 'City' | translate }}" ng-model="auth.register.city">
        </div>
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" placeholder="{{ 'Post' | translate }}" ng-model="auth.register.post">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" placeholder="{{ 'Country' | translate }}" ng-model="auth.register.country">
        </div>
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" placeholder="{{ 'VAT ID' | translate }}" ng-model="auth.register.vatId">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" placeholder="{{ 'First Name' | translate }}" ng-model="auth.register.firstName">
        </div>
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" placeholder="{{ 'Last Name' | translate }}" ng-model="auth.register.lastName">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-6">
          <input type="email" class="form-control" placeholder="{{ 'Email' | translate }}" ng-model="auth.register.email">
        </div>
        <div class="form-group col-xs-6">
          <input type="password" class="form-control" placeholder="{{ 'Password' | translate }}" ng-model="auth.register.password">
        </div>
      </div>

      <button class="btn btn-primary" ng-click="auth.register()" translate>Register</button>
    </form>
  </div>
</div>
