  <div class="page">
    <div class="page-content">
      <div class="page-brand-info hidden-sm hidden-xs">
        <div class="brand">
          <img class="brand-img" src="../../images/logo-no-slogan.png" alt="MightyFields">
        </div>
        <p translate>Remove Paper from all your Paperwork. Paperless Mobile Forms to Empower your Field Teams.</p>
      </div>

      <div class="page-login-main">
        <div class="brand visible-xs visible-sm">
          <img class="brand-img" src="../../images/logo-color.png" alt="MightyFields">
        </div>
        <h3 translate>Reset your password</h3>
        <p translate>Please enter your email to reset your account password.</p>
        <form name="resetPwd" novalidate>
          <div class="form-group form-material floating" ng-class="{ 'has-error': resetPwd.email.$invalid && !resetPwd.email.$pristine }">
            <input type="email" class="form-control" placeholder="{{ 'Email' | translate }}" ng-model="auth.forgot.email" ng-required="true" ng-minlength="5">
          </div>
          <button class="btn btn-primary btn-block" ng-click="auth.forgotPwd()" ng-disabled="(resetPwd.$dirty && resetPwd.$invalid) || resetPwd.$pristine" translate>Reset password</button>
        </form>

        <p><span translate>Click here to</span> <a ui-sref="login" translate>Sign In</a></p>

        <footer class="page-copyright">
          <p translate>MightyFields by Comland d.o.o.</p>
          <p translate>&copy; 2016. All rights reserved.</p>
        </footer>
      </div>

    </div>
  </div>
