  <div class="page">
    <div class="page-content">
      <div class="page-brand-info hidden-sm hidden-xs">
        <div class="brand">
          <img class="brand-img" src="../../images/logo-no-slogan.png" alt="MightyFields">
        </div>
        <p translate>Remove Paper from all your Paperwork. Paperless Mobile Forms to Empower your Field Teams.</p>
      </div>

      <div class="page-login-main">
        <div class="brand visible-xs visible-sm">
          <img class="brand-img" src="../../images/logo-color.png" alt="MightyFields">
        </div>
        <h3 translate>Change password</h3>
        <p translate>Please enter your desired account password.</p>
        <form name="changePwd" novalidate>
          <div class="form-group form-material floating" ng-class="{ 'has-error': changePwd.password.$invalid && !changePwd.password.$pristine }">
            <input type="password" class="form-control" placeholder="{{ 'Password' | translate }}" name="password" id="password" ng-model="auth.change.password" ng-required="true" ng-minlength="8">
          </div>
          <div class="form-group form-material floating" ng-class="{ 'has-error': changePwd.password2.$invalid && !changePwd.password2.$pristine }">
            <input type="password" class="form-control" placeholder="{{ 'Repeat Password' | translate }}" name="password2" id="password2" ng-model="auth.change.password2" ng-required="true" ng-minlength="8" pw-check="password">
          </div>
          <button class="btn btn-primary btn-block" ng-click="auth.changePwd()" ng-disabled="(changePwd.$dirty && changePwd.$invalid) || changePwd.$pristine" translate>Change password</button>
        </form>

        <p><span translate>Click here to</span> <a ui-sref="login" translate>Sign In</a></p>

        <footer class="page-copyright">
          <p translate>MightyFields by Comland d.o.o.</p>
          <p translate>&copy; 2016. All rights reserved.</p>
        </footer>
      </div>

    </div>
  </div>
