  <div class="page">
    <div class="page-content">
      <div class="page-brand-info hidden-sm hidden-xs">
        <div class="brand">
          <img class="brand-img" src="../../images/logo-no-slogan.png" alt="MightyFields">
        </div>
        <p translate>Remove Paper from all your Paperwork. Paperless Mobile Forms to Empower your Field Teams.</p>
      </div>

      <div class="page-login-main">
        <div class="brand visible-xs visible-sm">
          <img class="brand-img" src="../../images/logo-color.png" alt="MightyFields">
        </div>
        <h3 translate>Sign In</h3>
        <p translate>Please enter your credentials to sign in.</p>
        <form>
          <div class="form-group form-material floating">
            <input type="email" class="form-control" placeholder="{{ 'Email' | translate }}" ng-model="auth.email">
          </div>
          <div class="form-group form-material floating">
            <input type="password" class="form-control" placeholder="{{ 'Password' | translate }}" ng-model="auth.password">
          </div>
          <button class="btn btn-primary btn-block" ng-click="auth.login()" translate>Submit</button>
        </form>

        <!--<p><span translate>No account?</span> <a href="register-v2.html" translate>Sign Up</a></p>-->
        <p><a ui-sref="forgot" translate>Forgot password?</a></p>

        <footer class="page-copyright">
          <p translate>MightyFields by Comland d.o.o.</p>
          <p translate>&copy; 2016. All rights reserved.</p>
        </footer>
      </div>

    </div>
  </div>
