<ion-view class="printPopup">
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">{{report.label}}</h1>
    <button class="button button-icon icon ion-ios-close-empty" ng-click="rc.close()"></button>
  </ion-header-bar>
  <div style="overflow: auto; -webkit-overflow-scrolling: touch;">
    <iframe id="printContentIframe" name="printContentIframe" class="iframe-content"></iframe>
  </div>
  <ion-footer-bar class="bar bar-footer bar-light foo">
    <button class="button button-icon icon ion-ios-minus-empty" ng-click="rc.zoomOut()"></button>
    <button class="button button-icon icon ion-ios-plus-empty" ng-click="rc.zoomIn()"></button>
    <button class="button button-icon icon ion-ios-refresh-empty" ng-click="rc.zoomReset()"></button>
    <h1 class="title"></h1>
    <button class="button button-icon icon ion-ios-printer-outline" ng-click="rc.print()"></button>
  </ion-footer-bar>
</ion-view>
