<ion-view animation="slide-left-right" can-swipe-back="false">
  <ion-nav-title><span translate>Home</span></ion-nav-title>
  <ion-content class="home_page">
    <div class="middle" ng-if="vm.loading">
      <ion-spinner icon="spiral"></ion-spinner> 
      <span translate>Updating...</span>
    </div>
    <div class="old_cases" scroll="true">
      <ion-list can-swipe="true" ng-repeat="case in vm.cases">
        <ion-item on-swipe-left="ItemSwipped(case)">
          <div class="row row-center">
            <div class="col col-date-left">
              <div ng-show="case.ProcedureImage" class="img img-card" style="background-image: url('{{::case.ProcedureImage}}');"></div>
              <div ng-show="!case.ProcedureImage" class="img img-card" style="background-image: url('img/placeholder.png');"></div>
            </div>
            <div class="col" ng-click="vm.editPreview(case)">
              <h2>{{::case.Name | characters:70 }}</h2>
              <div class="row">
                <div class="col col-date">
                  <p class="ion-ios-calendar-outline">{{::case.Created | date:'shortDate'}}</p>
                </div>
                <div class="col col-date">
                  <p class="ion-ios-clock-outline">{{::case.Created | date:'shortTime'}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col col-status">
                  <p class="ion-ios-cloud-outline" ng-if="case.Synced" translate>Synced</p>
                  <p class="ion-ios-cloud-upload-outline" ng-if="case.Closed === 1 && !case.Synced" translate>Closed</p>
                  <p class="ion-ios-book-outline" ng-if="case.Closed === 0" translate>Opened</p>
                </div>
              </div>
            </div>
          </div>
          <ion-option-button ng-show="case.Closed === 1" style="background-color: #77B3D4;" ng-click="vm.editPreview(case)">
            <div class="view-button">
              <i class="icon ion-ios-eye-outline"></i>
              <h4 translate>VIEW_CASE</h4>
            </div>
          </ion-option-button>
            <div></div>
            <ion-option-button ng-show="case.Closed === 0" style="background-color: #5FB878;" ng-click="vm.editPreview(case)">
              <div class="view-button view-button-edit" >
                <i class="icon ion-ios-compose-outline"></i>
                <h4 translate>EDIT_CASE</h4>
              </div>
            </ion-option-button>
            <ion-option-button style="background-color: #C75C5C;" ng-click="vm.deleteCase(case)">
            <div class="view-button view-button-delete" >
              <i class="icon ion-ios-trash-outline"></i>
              <h4 translate>DELETE_CASE</h4>
            </div>
          </ion-option-button>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll ng-if="allowInfiniteScroll" immediate-check="false" on-infinite="loadMore()" distance="5%">
      </ion-infinite-scroll>
    </div>
  </ion-content>
</ion-view>
