<ion-view animation="slide-left-right" can-swipe-back="false">
  <ion-nav-title><span translate>Home</span></ion-nav-title>

  <ion-content class="home_page">
    <div class="middletab" ng-if="vm.loading">
      <ion-spinner icon="spiral"></ion-spinner>
      <span translate>Updating...</span>
    </div>
    <div class="old_cases" scroll="true">
      <div class="row"></div>
        <div class="col col-25 padding" ng-repeat="case in vm.cases" id="{{$index}}" style="float:left">
          <casedirective data="case"></casedirective>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
