<div>
  <ion-header-bar class="bar bar-header bar-light">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="vm.backButton()" ng-hide="!vm.selectedCategory"></button>
    <h1 class="title">
        <span ng-if="!vm.selectedCategory" translate>Categories</span>
        <span ng-if="vm.selectedCategory">{{ vm.selectedCategory.Name }}</span>
        <p>{{vm.searchCategory}}</p>
      </h1>
    <button class="button button-icon icon ion-ios-close-empty" ng-click="vm.closeCasePopup()"></button>
  </ion-header-bar>
  <div class="content">
    <div ng-if="!vm.selectedCategory">
      <ion-list class="category-list">
        <ion-item>
          <input type="search" ng-model="vm.search" placeholder="{{'Search categories' | translate}}"></input>
        </ion-item>
        <ion-item ng-click="vm.popupProcedures(c)" ng-repeat="c in vm.categories | filter:vm.filterFn">
          <div class="row row-center">
            <div class="col col-20">
              <div ng-if="c.Image" class="img img-card" style="background-image: url('{{::c.Image}}');"></div>
              <div ng-if="!c.Image" class="img img-card" style="background-image: url('img/placeholder.png');"></div>
            </div>
            <div class="col">
              <h2>{{::c.Name}}</h2>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div ng-if="vm.selectedCategory">
      <ion-list class="category-list">
        <ion-item>
          <input type="search" ng-model="vm.search" placeholder="{{'Search procedures in' | translate}} {{vm.selectedCategory.Name}}"></input>
        </ion-item>
        <ion-item ng-click="vm.openCase(p.Id_Procedure)" ng-repeat="p in vm.procedures | filter:vm.filterFn">
          <div class="row row-center">
            <div class="col col-20">
              <div ng-if="p.Image" class="img img-card" style="background-image: url('{{::p.Image}}');"></div>
              <div ng-if="!p.Image" class="img img-card" style="background-image: url('img/placeholder.png');"></div>
            </div>
            <div class="col">
              <h2>{{::p.Name}}</h2>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>
<!--</ion-content>
</ion-view>-->
