<ion-header-bar style="border-bottom: none;" align-title="center">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="vm.backButton()" ng-if="vm.selectedCategory"></button>
    <h1 class="title">
      <span ng-if="!vm.selectedCategory">Categories</span>
      <span ng-if="vm.selectedCategory">{{ vm.selectedCategory.Name }}</span>
    </h1>
    <button class="button button-icon icon ion-ios-close-empty" ng-click="vm.closeCasePopup()"></button>
</ion-header-bar>
<div class="content">
    <div ng-if="!vm.selectedCategory">
      <div class="row flex-wrap" ng-if="vm.thumbnail">
        <input type="search" ng-model="vm.search" placeholder="{{'Search categories' | translate}}"></input>
        <div class="col col-25 padding" ng-repeat="c in vm.categories | filter:vm.filterFn" ng-click="vm.popupProcedures(c)">
          <div class="row row-center thumb">
            <div class="square col">
              <div class="content">
                <div ng-if="::c.Image" class="img img-card img-select" style="background-image: url('{{::c.Image}}');"></div>
                <div ng-if="::!c.Image" class="img img-card img-select" style="background-image: url('img/placeholder.png');"></div>
                <div class="row procedure-name">
                  <h4 class="text-center">{{::c.Name}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ion-list class="category-list" ng-if="!vm.thumbnail">
        <ion-item>
          <input type="search" ng-model="vm.search" placeholder="{{'Search categories' | translate}}"></input>
        </ion-item>
        <ion-item ng-click="vm.popupProcedures(c)" ng-repeat="c in vm.categories | filter:vm.filterFn">
          <div class="row row-center">
            <div class="col col-10 lessflex">
              <div ng-if="c.Image" class="img img-card" style="background-image: url('{{::c.Image}}');"></div>
              <div ng-if="!c.Image" class="img img-card" style="background-image: url('img/placeholder.png');"></div>
            </div>
            <div class="col">
              <h2>{{::c.Name}}</h2>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div ng-if="vm.selectedCategory">
      <div class="row flex-wrap" ng-if="vm.thumbnail">
        <input type="search" ng-model="vm.search" placeholder="{{'Search procedures in' | translate}} {{vm.selectedCategory.Name}}"></input>
        <div class="col col-25 padding" ng-repeat="p in vm.procedures | filter:vm.filterFn" ng-click="vm.openCase(p.Id_Procedure)">
          <div class="row row-center thumb">
            <div class="square col">
              <div class="content">
                <div ng-if="::p.Image" class="img img-card img-select" style="background-image: url('{{::p.Image}}');"></div>
                <div ng-if="::!p.Image" class="img img-card img-select" style="background-image: url('img/placeholder.png');"></div>
                <div class="row procedure-name">
                  <h4 class="text-center">{{::p.Name}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ion-list class="category-list" ng-if="!vm.thumbnail">
        <ion-item>
          <input type="search" ng-model="vm.search" placeholder="{{'Search procedures in' | translate}} {{vm.selectedCategory.Name}}"></input>
        </ion-item>
        <ion-item ng-click="vm.openCase(p.Id_Procedure)" ng-repeat="p in vm.procedures | filter:vm.filterFn">
          <div class="row row-center">
            <div class="col col-10 lessflex">
              <div ng-if="p.Image" class="img img-card" style="background-image: url('{{::p.Image}}');"></div>
              <div ng-if="!p.Image" class="img img-card" style="background-image: url('img/placeholder.png');"></div>
            </div>
            <div class="col">
              <h2>{{::p.Name}}</h2>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
</div>
