/*
	Custom sass content goes here
*/

/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "../www/lib/ionic/scss/ionic";

// self explanatory
@import "variables";

// css common elements
@import "common/mixins";
@import "common/index";
@import "common/components";
@import "common/buttons";

// css for each pages
@import "pages/main";
@import "pages/settings";
@import "pages/login";
@import "pages/home";
@import "pages/case";
@import "pages/loading";
@import "pages/printpreview";
@import "pages/formdesign";
