<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <div class="content-backdrop"></div>
    <ion-nav-bar class="bar bar-green nav-title-slide-ios7" align-title="center">

      <ion-nav-buttons side="left">
        <button id="add_case_btn"
                class="button button-icon icon"
                ng-click="vm.clickStartButton()"
                ng-class="{'ion-ios-plus-outline': !isCase() && !isSettings(), 'ion-ios-arrow-back': isSettings(), 'ion-ios-home-outline': isCase()}"></button>
      </ion-nav-buttons>

      <ion-nav-buttons side="secondary">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="content" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right">
    <ion-header-bar class="bar-header bar-stable">
      <h1 class="logo">
        <img src="img/logo.png">
      </h1>
      <div class="buttons">
        <button id="close_menu" class="button button-icon icon ion-ios-close-empty" menu-toggle="right"></button>
      </div>
    </ion-header-bar>
    <ion-content scroll="false" class="has-header sidebar-bg">
      <button id="new_case_menu" class="button button-full button-large button-custom icon-left" ng-click="vm.closeCurrentAndStartNewCase()" menu-toggle="right">
        <i class="icon ion-ios-plus-outline"></i>
        <span translate>START_NEW_CASE</span>
      </button>
      <ul>
        <li ng-click="navigateTo('app.home')" nav-clear menu-close>
          <button id="home" class="button button-clear button-dark button-navigation" translate>HOME</button>
        </li>
        <li ng-click="navigateTo('app.settings')" nav-clear menu-close>
          <button id="settings" class="button button-clear button-dark button-navigation" translate>SETTINGS</button>
        </li>
        <li ng-click="vm.sync()" nav-clear menu-close>
          <button id="sync_data" class="button button-clear button-dark button-navigation" translate>SYNC_DATA</button>
        </li>
        <li ng-click="vm.updateLocalDatabase()" nav-clear menu-close>
          <button id="update" class="button button-clear button-dark button-navigation" translate>UPDATE</button>
        </li>
        <!--<li nav-clear menu-close>
          <button id="help_support" class="button button-clear button-dark button-navigation" translate>HELP_SUPPORT</button>
        </li>-->
        <li ng-click="logout()" nav-clear menu-close>
          <button id="logout" class="button button-clear button-dark button-navigation" translate>LOGOUT</button>
        </li>
      </ul>

      <div class="row version">
        <div style="col">
          <small><span translate>MightyFields Mobile v</span>{{ ::vm.version }}&nbsp;&copy;&nbsp;<span translate>Comland d.o.o.</span><small>
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
