<ion-view class="content-bg">
  <ion-content class="loading-page content-bg overlay-content green" ng-controller="LoadingCtrl">
    <!-- Logo -->
    <div class="logo text-center">
      <h1>
        <img src="img/logo_white.png">
      </h1>
    </div>
    <div class="text-center">
      
      <div style="max-width: 200px; margin: 0 auto;">
        <ion-spinner icon="spiral" class="spinner-light"></ion-spinner>
        <p ng-show="!progressText" translate>LOADING...</p>
        <p ng-show="progressText">{{ progressText }}</p>
        <br/>
        <small translate>This process can take a few minutes to complete.</small>
      </div>
      
    </div>
    </div>
    <!-- /Logo -->
  </ion-content>
</ion-view>